.label-social-button-2-mobile{   width: 100%; font-family: Oslo !important; padding: 0.75rem 0.95rem 0.75rem 0.7rem; -webkit-border-radius: 3px;  -moz-box-border-radius:3px; border-radius:3px; font-size: 0.9rem; display: inline-block; color: #fff;}
.addthis_button_facebook .label-social-button-2-mobile{ background-color: #3B5998; color: #fff; display: inline; }
.addthis_button_facebook .label-social-button-2-mobile .fa-facebook-square{margin-right: 9%; font-size: 1.1rem;}
.addthis_button_twitter .label-social-button-2-mobile{display:inline; margin-right:0.9rem;  background-color: #00ACED;  }
.addthis_button_twitter .label-social-button-2-mobile .fa-twitter{  margin-right: 9%; font-size: 1.1rem;   margin-top: 3px;   display: inline;}
#popup-content{min-width: 36rem; max-width: 36rem;}
#popup-content .modal-input{ z-index: 99999;position: absolute;top: 38%;left: 12%; }
#popup-content .modal-results{ z-index: 99999;position: absolute;top: 49%;left: 12%;  }
#popup-content input#email{ font-family: Oslo; padding: 0 1.3rem; background: #D8E7EE; font-size: 1.5rem; min-height: 3.5rem; border: none; box-shadow: none; width: 51%; float: left;}
#popup-content .modal-input #submit{ border: none; color: #fff; background: #2985C0; min-height: 3.5rem; padding: 0 0.5rem; font-size: 1.5rem; font-weight: bold; font-family: Oslobold;}
input#email::-webkit-input-placeholder { color: #222; }
input#email:-moz-placeholder { /* Firefox 18- */ color: #222; }
input#email::-moz-placeholder {  /* Firefox 19+ */ color: #222;  }
input#email:-ms-input-placeholder {  color: #222;  }
.error{color:red;}
.success{color: green;}

@media only screen and (min-width: 33.8125rem) #popup-content { min-width: auto;}