.close{ background: #000; right: -0.5rem; top: -0.5rem;}
.close:hover{ color: #fff;}
#popup-content div{  background: #fff; padding: 1rem; -web-kit-border-radius: 5px; -moz-border-radius:5px; border-radius: 5px;}
.input-error{ background: rgba(255, 0, 0, 0.5); border-color: rgba(255, 0, 0, 0.8);}
select:hover{background: #01b88a; color:#fff; }
select{background-position: 96% center;}
#nav-cont{bottom:0 !important;}
#main-cont #content{ top: 0 !important;}
#article-info, #articles{border:none !important; border-top: 1px solid #ddd !important;}
.section-bar .right p img{width:1.5rem;}
#month-form {display: inline-block;}
#month-form select{ text-transform: uppercase; border:none; height: 1.95rem; margin: 0; position: Relative; top: 0.2rem; left: -0.7rem; padding-left: 1.5rem;}

.dd-month{text-transform:uppercase;}
.dd-month label{ display: inline-block; background: #747371; color: #fff;  font-size: 1rem; padding: 0.2rem 1rem; position: relative; top: 0.1rem;}
#img-container{padding:0;}
#topbar-container-admin{ margin-top: -0.34rem; }

#topbar-container-admin div p{display: inline-block; position: relative; margin: 0;}
#topbar-container-admin div p img{ width: 1.5rem; margin: 0 1.5rem 0 1rem; }
#topbar-container-admin div p a{ color: #fff; text-transform: uppercase; position: Relative; top: 0.15rem;}

/*DASHBOARD*/
#warning-box{ background: #FFF69F; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius:5px; border-radius: 5px; padding: 1rem;}
#warning-box > p{margin:0;}
.warning-box .fa-exclamation-triangle{ color: #777; }
.warning-box  .p-cont p{ margin: 0; color: #777; }
.buttons-container.dashboard {display: inline-block; text-align: left !important; margin-top: 1.5rem  !important ; margin-bottom: 1.5rem  !important;}
select#recent-articles{margin-bottom: 0; border: none; font-size: 1.3rem; text-transform: uppercase; }
.a-buttons { background: #01b88a; padding: 0.4rem 1.2rem; color: #fff; text-transform: uppercase; margin: 0; position: relative; font-size: 1.3rem; top: -2px; margin-left: 0.5rem; }
.a-buttons:hover{ color:#fff;}
#top-shares{margin-right: 1.2rem;}
#top-shares h2, .sub-announcements h2{ text-transform: uppercase; color: #777; margin-bottom: 1.3rem;}
#top-shares .top-shared-cont{  margin-top:1rem; margin-bottom:0.5rem; min-height: 5.5rem;}
#top-shares  p{ margin-bottom: 0.5rem;}
#top-shares  ol{margin-bottom: 0rem !important;}
#top-shares  ol li{ margin-bottom: 0.9rem; border-bottom: 1px solid #ddd; }
#top-shares  ol li p{margin:0;}
#top-shares .top-shared-cont .shares{font-weight: bold; font-size: 1.2rem; text-transform: uppercase;}
#top-shares .top-shared-cont img{width: 11%; border-radius: 10rem; max-width: 2.5rem; margin-top: -7px; margin-right: 0.2rem;}
#top-shares .top-shared-cont a{ font-weight: bolder; }
#top-shares .top-shared-cont .article-link{margin-top: 0.3rem; margin-right: 1rem; }
#top-shares .top-shared-cont .article-link a{text-transform: capitalize;}
#top-shares  ol li:last-child  {border-bottom: none !important; }
.sub-announcements{ margin-bottom: 3rem;}
.sub-announcements .box { background: #EFF8F3; padding: 1rem; border: 1px solid #ddd;}
.sub-announcements .box.no-padding{padding:0;}
.sub-announcements .box p{ margin:0; color:#777;}
.sub-announcements .box p span{ font-weight: bolder; font-family: OsloBold;}
.sub-announcements .box ul {margin: 0rem;}
.sub-announcements .box ul li{ list-style: none;}
.sub-announcements .box.no-padding ul li{padding:0.7rem;}
.sub-announcements .box ul li:nth-child(even){background:#fff !important;}
