/* Begin Normalize Styling*/
/* line 2, ../scss/_normalize.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* line 3, ../scss/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

/* line 4, ../scss/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

/* line 5, ../scss/_normalize.scss */
audio:not([controls]) {
  display: none; }

/* line 6, ../scss/_normalize.scss */
[hidden] {
  display: none; }

/* line 7, ../scss/_normalize.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

/* line 8, ../scss/_normalize.scss */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

/* line 9, ../scss/_normalize.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

/* line 10, ../scss/_normalize.scss */
::-moz-selection {
  background: none;
  color: white;
  text-shadow: none; }

/* line 11, ../scss/_normalize.scss */
::selection {
  background: #6ad98a;
  color: white;
  text-shadow: none; }

/* line 12, ../scss/_normalize.scss */
a {
  color: #00e;
  outline: none;
  text-decoration: none; }

/* line 13, ../scss/_normalize.scss */
a:hover {
  color: #06e; }

/* line 14, ../scss/_normalize.scss */
a:focus {
  outline: thin dotted; }

/* line 15, ../scss/_normalize.scss */
a:hover, a:active {
  outline: none; }

/* line 16, ../scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted; }

/* line 17, ../scss/_normalize.scss */
b, strong {
  font-weight: bold; }

/* line 18, ../scss/_normalize.scss */
blockquote {
  margin: 1em 40px; }

/* line 19, ../scss/_normalize.scss */
dfn {
  font-style: italic; }

/* line 20, ../scss/_normalize.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* line 21, ../scss/_normalize.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

/* line 22, ../scss/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* line 23, ../scss/_normalize.scss */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* line 24, ../scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/* line 25, ../scss/_normalize.scss */
q {
  quotes: none; }

/* line 26, ../scss/_normalize.scss */
q:before, q:after {
  content: "";
  content: none; }

/* line 27, ../scss/_normalize.scss */
small {
  font-size: 85%; }

/* line 28, ../scss/_normalize.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 29, ../scss/_normalize.scss */
sup {
  top: -0.5em; }

/* line 30, ../scss/_normalize.scss */
sub {
  bottom: -0.25em; }

/* line 31, ../scss/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

/* line 32, ../scss/_normalize.scss */
dd {
  margin: 0 0 0 40px; }

/* line 33, ../scss/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* line 34, ../scss/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/* line 35, ../scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden; }

/* line 36, ../scss/_normalize.scss */
figure {
  margin: 0; }

/* line 37, ../scss/_normalize.scss */
form {
  margin: 0; }

/* line 38, ../scss/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* line 39, ../scss/_normalize.scss */
label {
  cursor: pointer; }

/* line 40, ../scss/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

/* line 41, ../scss/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/* line 42, ../scss/_normalize.scss */
button, input {
  line-height: normal;
  *overflow: visible; }

/* line 43, ../scss/_normalize.scss */
table button, table input {
  *overflow: auto; }

/* line 44, ../scss/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  outline: none; }

/* line 45, ../scss/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

/* line 46, ../scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* line 47, ../scss/_normalize.scss */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/* line 48, ../scss/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* line 49, ../scss/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* line 51, ../scss/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* line 52, ../scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 53, ../scss/_normalize.scss */
td {
  vertical-align: top; }

/* line 54, ../scss/_normalize.scss */
.placeholder {
  color: #8c8c8c !important; }

/* End Normalize Styling*/
/* Begin Fontface Styling */
@font-face {
  font-family: 'PTSansRegular';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/PTSans/PTSansRegular.eot");
  src: local("☺"), local("PTSans"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansRegular.woff") format("woff"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansRegular.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansRegular.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'PTSansBold';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/fonts/PTSans/PTSansBold.eot");
  src: local("☺"), local("PTSans"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansBold.woff") format("woff"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansBold.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansBold.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'PTSansItalic';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/fonts/PTSans/PTSansItalic.eot");
  src: local("☺"), local("PTSans"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansItalic.woff") format("woff"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansItalic.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/PTSans/PTSansItalic.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'QuicksandLight';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandLight.eot");
  src: local("☺"), local("QuicksandLight"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandLight.woff") format("woff"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandLight.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandLight.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'QuicksandLightItalic';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandLightItalic.eot");
  src: local("☺"), local("QuicksandLightItalic"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandLightItalic.woff") format("woff"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandLightItalic.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandLightItalic.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'QuicksandBold';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBold.eot");
  src: local("☺"), local("QuicksandBold"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBold.woff") format("woff"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBold.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBold.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'QuicksandBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBoldItalic.eot");
  src: local("☺"), local("QuicksandBoldItalic"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBoldItalic.woff") format("woff"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBoldItalic.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBoldItalic.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'QuicksandBook';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBook.eot");
  src: local("☺"), local("QuicksandBook"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBook.woff") format("woff"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBook.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBook.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'QuicksandBookItalic';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBookItalic.eot");
  src: local("☺"), local("QuicksandBookItalic"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBookItalic.woff") format("woff"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBookItalic.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/QuickSand/QuicksandBookItalic.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'BevanRegular';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Bevan/bevanregular.eot");
  src: local("☺"), local("Bevan"), url("http://fonts.sequelmediagroup.com/Bevan/bevanregular.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Bevan/bevanregular.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Bevan/bevanregular.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'BevanRegular';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Bevan/bevanregular.eot");
  src: local("☺"), local("Bevan"), url("http://fonts.sequelmediagroup.com/Bevan/bevanregular.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Bevan/bevanregular.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Bevan/bevanregular.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'Pictos';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Pictos/pictos.eot");
  src: local("☺"), local("Pictos"), url("http://fonts.sequelmediagroup.com/Pictos/pictos.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Pictos/pictos.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Pictos/pictos.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'ModernPics';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/IconFonts/modernpics.eot");
  src: local("☺"), local("modernpics"), url("http://fonts.sequelmediagroup.com/IconFonts/modernpics.otf") format("otf"), url("http://fonts.sequelmediagroup.com/IconFonts/modernpics.woff") format("woff"), url("http://fonts.sequelmediagroup.com/IconFonts/modernpics.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/IconFonts/modernpics.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'Websymbols';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Websymbols/websymbolsregular.eot");
  src: local("☺"), local("websymbolsregular"), url("http://fonts.sequelmediagroup.com/Websymbols/websymbolsregular.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Websymbols/websymbolsregular.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Websymbols/websymbolsregular.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'Entypo';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Entypo/entypo-webfont.eot");
  src: local("☺"), local("entypo-webfont"), url("http://fonts.sequelmediagroup.com/Entypo/entypo-webfont.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Entypo/entypo-webfont.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Entypo/entypo-webfont.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'GeometrySoftPro';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/GeometrySoftPro/Geometry_Soft_Pro.eot");
  src: local("☺"), local("Geometry_Soft_Pro"), url("http://fonts.sequelmediagroup.com/GeometrySoftPro/Geometry_Soft_Pro.woff") format("woff"), url("http://fonts.sequelmediagroup.com/GeometrySoftPro/Geometry_Soft_Pro.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/GeometrySoftPro/Geometry_Soft_Pro.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OsloBlack';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oslo/Black/Oslo-Black.eot");
  src: local("☺"), local("Oslo-Black"), url("http://fonts.sequelmediagroup.com/Oslo/Black/Oslo-Black.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oslo/Black/Oslo-Black.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oslo/Black/Oslo-Black.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OsloBold';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oslo/Oslo-Bold.eot");
  src: local("☺"), local("Oslo-Bold"), url("http://fonts.sequelmediagroup.com/Oslo/Bold/Oslo-Bold.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oslo/Bold/Oslo-Bold.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oslo/Bold/Oslo-Bold.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OsloBoldItalic';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oslo/BoldItalic/Oslo-BoldItalic.eot");
  src: local("☺"), local("Oslo-BoldItalic"), url("http://fonts.sequelmediagroup.com/Oslo/BoldItalic/Oslo-BoldItalic.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oslo/BoldItalic/Oslo-BoldItalic.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oslo/BoldItalic/Oslo-BoldItalic.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OsloItalic';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oslo/Italic/Oslo-Italic.eot");
  src: local("☺"), local("Oslo-Italic"), url("http://fonts.sequelmediagroup.com/Oslo/Italic/Oslo-Italic.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oslo/Italic/Oslo-Italic.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oslo/Italic/Oslo-Italic.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OsloLight';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oslo/Light/Oslo-Light.eot");
  src: local("☺"), local("Oslo-Light"), url("http://fonts.sequelmediagroup.com/Oslo/Light/Oslo-Light.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oslo/Light/Oslo-Light.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oslo/Light/Oslo-Light.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OsloLightItalic';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oslo/LightItalic/Oslo-LightItalic.eot");
  src: local("☺"), local("Oslo-LightItalic"), url("http://fonts.sequelmediagroup.com/Oslo/LightItalic/Oslo-LightItalic.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oslo/LightItalic/Oslo-LightItalic.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oslo/LightItalic/Oslo-LightItalic.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OsloRegular';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oslo/Regular/Oslo-Regular.eot");
  src: local("☺"), local("Oslo-Regular"), url("http://fonts.sequelmediagroup.com/Oslo/Regular/Oslo-Regular.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oslo/Regular/Oslo-Regular.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oslo/Regular/Oslo-Regular.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OswaldRegular';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oswald/Regular/Oswald-Regular.eot");
  src: local("☺"), local("Oswald-Regular"), url("http://fonts.sequelmediagroup.com/Oswald/Regular/Oswald-Regular.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oswald/Regular/Oswald-Regular.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oswald/Regular/Oswald-Regular.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OswaldBold';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oswald/Bold/Oswald-Bold.eot");
  src: local("☺"), local("Oswald-Bold"), url("http://fonts.sequelmediagroup.com/Oswald/Bold/Oswald-Bold.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oswald/Bold/Oswald-Bold.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oswald/Bold/Oswald-Bold.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OswaldLight';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oswald/Light/Oswald-Light.eot");
  src: local("☺"), local("Oswald-Light"), url("http://fonts.sequelmediagroup.com/Oswald/Light/Oswald-Light.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oswald/Light/Oswald-Light.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oswald/Light/Oswald-Light.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'OswaldStencil';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Oswald/Stencil/Oswald-Stencil.eot");
  src: local("☺"), local("Oswald-Stencil"), url("http://fonts.sequelmediagroup.com/Oswald/Stencil/Oswald-Stencil.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Oswald/Stencil/Oswald-Stencil.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Oswald/Stencil/Oswald-Stencil.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/FontAwesome/fontawesome-webfont.eot") format("embedded-opentype");
  src: local("☺"), local("Font-Awesome"), url("http://fonts.sequelmediagroup.com/FontAwesome/fontawesome-webfont.woff") format("woff"), url("http://fonts.sequelmediagroup.com/FontAwesome/fontawesome-webfont.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/FontAwesome/fontawesome-webfont.svg#webfont6izVs1DN") format("svg"); }

@font-face {
  font-family: 'Reklame';
  font-style: normal;
  font-weight: normal;
  src: url("http://fonts.sequelmediagroup.com/Reklame/Regular/ReklameScript-Regular_webfont.eot") format("embedded-opentype");
  src: local("☺"), local("Reklame"), url("http://fonts.sequelmediagroup.com/Reklame/Regular/ReklameScript-Regular_webfont.woff") format("woff"), url("http://fonts.sequelmediagroup.com/Reklame/Regular/ReklameScript-Regular_webfont.ttf") format("truetype"), url("http://fonts.sequelmediagroup.com/Reklame/Regular/ReklameScript-Regular_webfont.svg#webfont6izVs1DN") format("svg"); }

/* End Fontface Styling*/
/* Begin non-semantic helper classes */
/* line 2, ../scss/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

/* line 3, ../scss/_helpers.scss */
.ir br {
  display: none; }

/* line 4, ../scss/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden; }

/* line 5, ../scss/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* line 6, ../scss/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* line 7, ../scss/_helpers.scss */
.invisible {
  visibility: hidden; }

/* line 8, ../scss/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

/* line 9, ../scss/_helpers.scss */
.clearfix:after {
  clear: both; }

/* line 10, ../scss/_helpers.scss */
.clearfix {
  zoom: 1; }

/* End non-semantic helper classes */
/* Begin Print Styling */
@media print {
  /* line 15, ../scss/_helpers.scss */
  body:after {
    content: 'print'; }

  /* line 19, ../scss/_helpers.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  /* line 20, ../scss/_helpers.scss */
  a, a:visited {
    text-decoration: underline; }

  /* line 21, ../scss/_helpers.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 22, ../scss/_helpers.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 23, ../scss/_helpers.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 24, ../scss/_helpers.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 25, ../scss/_helpers.scss */
  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  /* line 26, ../scss/_helpers.scss */
  tr, img {
    page-break-inside: avoid; }

  /* line 27, ../scss/_helpers.scss */
  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  /* line 29, ../scss/_helpers.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  /* line 30, ../scss/_helpers.scss */
  h2, h3 {
    page-break-after: avoid; } }
/* End Print Styling */
/* line 10, ../scss/testsuite.scss */
#ninja {
  color: #000;
  visibility: hidden; }

/* line 12, ../scss/testsuite.scss */
body,
html {
  background: white;
  margin: 0;
  padding: 0; }

/* line 18, ../scss/testsuite.scss */
html {
  font-family: 'playerbp0'; }

/* line 22, ../scss/testsuite.scss */
body {
  font-family: arial, sans-serif; }

/* Begin Cross Browser Styling */
/* line 1, ../scss/_testsuite.scss */
#testsuite-info-cont {
  width: 98%;
  margin: 0 auto 1em;
  padding: 0;
  position: relative;
  overflow: hidden;
  zoom: 1;
  *-ms-inject: expression(this.x||(this.innerHTML+='<br\ style="clear:both;font:0/0">',this.x=1)); }
  /* line 8, ../scss/_testsuite.scss */
  #testsuite-info-cont h2 {
    width: auto;
    color: #000;
    font: 1.35em OsloBold, PTSansBold, arial, sans-serif;
    margin: 0.5em 0;
    padding: 0;
    position: relative; }
  /* line 17, ../scss/_testsuite.scss */
  #testsuite-info-cont p {
    width: auto;
    color: #000;
    font: 1em OlsoRegular, PTSansRegular, arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; }
    /* line 25, ../scss/_testsuite.scss */
    #testsuite-info-cont p a {
      color: #000; }
  /* line 30, ../scss/_testsuite.scss */
  #testsuite-info-cont #test-title {
    font-size: 1.5em;
    text-align: center;
    text-decoration: underline; }
  /* line 37, ../scss/_testsuite.scss */
  #testsuite-info-cont #expected,
  #testsuite-info-cont #procedure {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
    position: relative; }
  /* line 44, ../scss/_testsuite.scss */
  #testsuite-info-cont #results {
    width: 100%;
    margin: 1em 0 0;
    padding: 0;
    position: relative; }
  /* line 51, ../scss/_testsuite.scss */
  #testsuite-info-cont form {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative; }
  /* line 58, ../scss/_testsuite.scss */
  #testsuite-info-cont fieldset {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    position: relative; }
  /* line 65, ../scss/_testsuite.scss */
  #testsuite-info-cont label {
    width: 20%;
    color: #000;
    font: 1em OlsoRegular, PTSansRegular, arial, sans-serif;
    margin: 0 1% 0 0;
    padding: 0;
    position: relative;
    text-align: right;
    float: left; }
    /* line 75, ../scss/_testsuite.scss */
    #testsuite-info-cont label span {
      color: red; }
  /* line 80, ../scss/_testsuite.scss */
  #testsuite-info-cont .radio-label {
    width: auto;
    margin: 0 2% 0 0;
    padding: 0;
    position: relative;
    text-align: left;
    float: none; }
  /* line 89, ../scss/_testsuite.scss */
  #testsuite-info-cont input {
    color: #000;
    font: 1em OlsoRegular, PTSansRegular, arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative; }
  /* line 97, ../scss/_testsuite.scss */
  #testsuite-info-cont input.radio {
    width: auto;
    margin: 0;
    padding: 0;
    border: 0px !important;
    outline: none;
    overflow: hidden;
    zoom: 1;
    *-ms-inject: expression(this.x||(this.innerHTML+='<br\ style="clear:both;font:0/0">',this.x=1)); }
  /* line 107, ../scss/_testsuite.scss */
  #testsuite-info-cont input.text,
  #testsuite-info-cont textarea {
    width: 79%;
    float: left; }
  /* line 112, ../scss/_testsuite.scss */
  #testsuite-info-cont textarea {
    resize: vertical; }
  /* line 116, ../scss/_testsuite.scss */
  #testsuite-info-cont #submit {
    background: #F5F5F5;
    color: white;
    font: 1em OsloItalic, PTSansItalic, arial, sans-serif;
    width: auto;
    margin: 0;
    padding: 0.25em 1.25em;
    border: none;
    text-align: center;
    float: right;
    background: -moz-linear-gradient(top, rgba(0, 167, 207, 0.65) 0%, #00a7cf 80%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 167, 207, 0.65)), color-stop(80%, #00a7cf));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 167, 207, 0.65) 0%, #00a7cf 80%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 167, 207, 0.65) 0%, #00a7cf 80%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0, 167, 207, 0.65) 0%, #00a7cf 80%);
    /* IE10+ */
    background: linear-gradient(top, rgba(0, 167, 207, 0.65) 0%, #00a7cf 80%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(0, 167, 207, 0.65)', endColorstr='#00a7cf',GradientType=0 );
    /* IE6-9 */
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    border-radius: 0.5em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    /* line 130, ../scss/_testsuite.scss */
    #testsuite-info-cont #submit:hover {
      background: -moz-linear-gradient(top, #00a7cf 0%, rgba(0, 167, 207, 0.65) 80%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00a7cf), color-stop(80%, rgba(0, 167, 207, 0.65)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #00a7cf 0%, rgba(0, 167, 207, 0.65) 80%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #00a7cf 0%, rgba(0, 167, 207, 0.65) 80%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #00a7cf 0%, rgba(0, 167, 207, 0.65) 80%);
      /* IE10+ */
      background: linear-gradient(top, #00a7cf 0%, rgba(0, 167, 207, 0.65) 80%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a7cf', endColorstr='rgba(0, 167, 207, 0.65)',GradientType=0 );
      /* IE6-9 */ }
    /* line 134, ../scss/_testsuite.scss */
    #testsuite-info-cont #submit:disabled {
      background: -moz-linear-gradient(top, rgba(212, 212, 212, 0.65) 0%, #d4d4d4 80%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(212, 212, 212, 0.65)), color-stop(80%, #d4d4d4));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(212, 212, 212, 0.65) 0%, #d4d4d4 80%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(212, 212, 212, 0.65) 0%, #d4d4d4 80%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(212, 212, 212, 0.65) 0%, #d4d4d4 80%);
      /* IE10+ */
      background: linear-gradient(top, rgba(212, 212, 212, 0.65) 0%, #d4d4d4 80%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='rgba(212, 212, 212, 0.65)', endColorstr='#d4d4d4',GradientType=0 );
      /* IE6-9 */ }
  /* line 139, ../scss/_testsuite.scss */
  #testsuite-info-cont #submit-result {
    font: 1em OsloItalic, PTSansItalic, arial, sans-serif;
    text-align: right; }
    /* line 143, ../scss/_testsuite.scss */
    #testsuite-info-cont #submit-result.error {
      color: #B94A48; }
    /* line 147, ../scss/_testsuite.scss */
    #testsuite-info-cont #submit-result.success {
      color: #468847; }

/* line 153, ../scss/_testsuite.scss */
#testsuite-navigation-cont {
  width: 98%;
  margin: 1em auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  zoom: 1;
  *-ms-inject: expression(this.x||(this.innerHTML+='<br\ style="clear:both;font:0/0">',this.x=1)); }
  /* line 160, ../scss/_testsuite.scss */
  #testsuite-navigation-cont h2 {
    width: auto;
    color: #000;
    font: 1.5em OsloBold, PTSansBold, arial, sans-serif;
    margin: 0.5em 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: underline; }
  /* line 171, ../scss/_testsuite.scss */
  #testsuite-navigation-cont h3 {
    width: auto;
    color: #000;
    font: 1.25em OsloBold, PTSansBold, arial, sans-serif;
    margin: 1.5em 0 0.5em;
    padding: 0;
    position: relative;
    text-decoration: underline; }
  /* line 181, ../scss/_testsuite.scss */
  #testsuite-navigation-cont ul {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    list-style: disc inside; }
    /* line 188, ../scss/_testsuite.scss */
    #testsuite-navigation-cont ul li {
      width: auto;
      color: #000;
      font: 1em OsloRegular, PTSansRegular, arial, sans-serif;
      margin: 0.25em 0;
      padding: 0;
      position: relative; }
      /* line 196, ../scss/_testsuite.scss */
      #testsuite-navigation-cont ul li a {
        color: #000; }

/* line 203, ../scss/_testsuite.scss */
#callback-box {
  width: 100%;
  max-width: 300px;
  height: 250px;
  margin: 0.5em auto;
  padding: 0;
  position: relative;
  overflow: auto;
  border: 1px solid #000;
  border: 1px solid rgba(0, 0, 0, 0.35); }

/* End Cross Browser Styling */
