.single-article{
	header{
		margin: 0 0 0.5em !important;
		h2{
			color: black !important;
			font: 2em PTSansBold, arial, sans-serif !important;
			text-shadow: none !important;
			margin: 0 !important;
			padding: 0 !important;	
		}

		p.postdate{
			color: black !important;
			font: 1.025em PTSansItalic, arial, sans-serif !important;
			text-shadow: none !important;
			margin: 0em 0 0 !important;
		}

		@include respond-to(bp1){
			margin-left: 1% !important;
		}
	}

	.article-img{
		width: 100%;
		text-align: center;
		margin-bottom: 1em;

		img{
			width: 100%;
		}

		@include respond-to(bp1){
			width: 97%;
			margin: 0 auto 2em;
		}
	}

	.article-no-image{
		background: none repeat scroll 0 0 grey;
	    clear: both;
	    height: 100%;
	    min-height: 12em;
	    width: 100%;
	    opacity: 0.5;
	}

	.article-rating{
		width: 100%;
		margin: 0 0 2em;
		padding: 0;
		position: relative;
		text-align: right;

		p{
			font: 1em OsloRegular, arial, sans-serif !important;
			width: auto;
			margin: 0;
			padding: 0;
			position: relative;
			display: inline;
		}

		#rating-stars{
			width: auto;
			margin: 0 0 0 1%;
			padding: 0;
			position: relative;
			display: inline;
			
			span{
				width: 1.125em;
				margin: 0;
				padding: 0;
				position: relative;
				display: inline-block;
				cursor: pointer;
				color: $catBg;
			}

			.half:before{
				content: "★";
				color: $catBg;
				width: 0.525em;
				overflow: hidden;
				position: absolute;
				left: 0;
				margin-left: 0.1em;
			}
		}

		.prev-vote span{
			cursor: inherit !important;
		}

		@include respond-to(bp1){
			width: 98%;
			margin: 0 auto 2em;
		}
	}

	.article-body{
		width: 98%;
		margin: 1em auto;
		padding: 0;
		position: relative;

		p{
			width: 100% !important;
			font: 1em PTSansRegular, arial, sans-serif !important;
			margin: 0 0 1em 0 !important;
			padding: 0;
			position: relative;
			
			&.author-name{
				color: $catBg;
    		text-align: right;
			}
		}

		ol{

			li{
				margin-bottom: 0.5em;
			}
		}

		strong{
			font: 1em PTSansBold, arial, sans-serif !important;
		}
	}
}

.ie8,
.ie7{
	.single-article{
		.article-rating{
			display: none;
		}
	}
}

.mozilla{
	.article-rating{
		#rating-stars{
			margin: 0 0 0 0.5% !important;
			
			span{
				width: 0.75em !important;
				font-size: 1.5em !important;
			}

			.half:before{
				width: 0.315em !important;
				margin-left: 0.125em;
			}
		}
	}
}

.mozilla-12pre{
	.article-rating{
		#rating-stars{
			margin: 0 0 0 0.5% !important;
			
			span{
				width: 1.125em !important;
				font-size: 1.125em !important;
			}
			
			.half:before{
				width: 0.44em !important;
				margin-left: 0.2em;
			}
		}
	}
}

.webkit{
  .article-rating{
    #rating-stars{
      .half:before{
        width: 0.54em !important;
      }
    }
  }
}


#main-article-cont{
	width: 98%;
	margin: 0.5em auto 0;
	padding: 0;
	position: relative;

	h1{
		width: auto;
		color: #000;
		font: 2em OsloRegular, arial, sans-serif;
		margin: 0 0 0.3em;
		padding: 0;
		position: relative;

		a{
			color: #000;
			text-decoration: none;	
			outline:none;
		}

		@include respond-to(bp1_5){
			font: 2.25em OsloRegular, arial, sans-serif;
		}
	}

	h3{
		width: auto;
		margin: 0;
		padding: 1em 0 0;
		font: 1.4em OsloBold,arial,sans-serif;
		border-bottom: 1px solid $borderColor;
		clear:both;

		a{
			color: #000;
			text-decoration: none;	
			outline:none;
		}
	}

	p.author-date{

	 	label {
	    	color: $iconAndBorderColor;
	    	font: 0.8em OsloRegular,arial,sans-serif;
	    	cursor:text;
		}

		label:first-child:after {
		    content: "|";
		    margin-left: 0.4em;
		}
	}

	#section-video-player {
	    margin-top: 3%;
	    padding-bottom: 0;
	}

	#image-description {
	    clear: both;
	    float: none;
	    margin-top: 3%;
	    width: 100%;
	    color: $iconAndBorderColor;
	}

	#article-image{
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
	
		img{
			max-width: 100%;
			cursor:pointer;

			@include respond-to(bp3){
				width: 100%;
			}
		}

		#numb-images{
			color: white; 
			width: 100%; 
			max-width:31em;
			background: rgb(80, 80, 80); 
			opacity: 0.8; 
			padding: 0.4em; 
			margin: -3em auto 0;
			cursor:pointer;

		}
	}

	#article-rating{
		width: 100%;
		margin: 0.5em 0 1em;
		padding: 0;
		position: relative;
		text-align: center;
		
		.label{
			color: $iconAndBorderColor;
		    display: inline-block;
		    float: none;
		    font: 1.2em OsloRegular,arial,sans-serif;
		    position: relative;
		    top: 1px;
		    width:100%;
		}

		.star-cont{
			float: none;
			margin-left: 0;
			margin-bottom: 0.5em;
			padding:0;
			text-align:center;

			label {
				width: auto;
			    color: $iconAndBorderColor;
			    cursor: text;
			    font: 1.2em OsloRegular,arial,sans-serif;
			    margin-left: 0.5em;

			    @include respond-to(bp1_5){
			    	font: 1em OsloRegular,arial,sans-serif;
			    	top: -2px;
			    }
			}

			i{
				font-size: 1.4em;
			    margin-right: 0.1em;
				cursor: pointer;

				@include respond-to(bp2){
					font-size:1.7em;
				}

				&.icon-star.full{
					color: #e26c15;
				}

				
			}
			.icon-star-half-empty{
				color: #e26c15;
			}

			@include respond-to(bp1_5){
				text-align:left;
			}

		}

		@include respond-to(bp1_5){
			text-align: left;
		}
	}

	.article-description {
	    margin:0;
	    border-bottom: 1px dotted #707070;
	    border-top: 1px dotted #707070;
	    display:inline;
	    float:left;
	    padding: 1em 0;
	    position:relative;
	    width:100%;


		#preps-yields {

		    padding: 0.5em;
		    text-align: center;
		    clear:both;

		    .timing {
			    float: left;
			    width: 70%;

			    @include respond-to(bp2){
					width:73%;
				}
			}
			.yield {
			    float: left;
			    width: 40%;
			}

			.icon {
			    background-color: #6CA32C;
			    color: #FFFFFF;
			    display: table;
			    float: left;
			    font-size: 2em;
			    height: 35px;
			    width: 35px;
			    margin-top: 0.2em;
			    text-align: center;
			    @include mp-roundborder(25px);
			   
			    @include respond-to(bp2){
			    	font-size: 2.5em;
			    	height: 46px;
			    	width: 46px;
			    }
			}
			.icon-time {
			    vertical-align: middle;
			}

			.icon-food {
			    font-size: 0.8em;
			    vertical-align: middle;
			}

			.timing-cont{
				
				float: left;
			    width: 75%;
				
				span {
			    	float: left;
			    	width: 33%;
				}

				@include respond-to(bp2){
					width: 80%;
				}
			}

			.title {
			    background: none repeat scroll 0 0 transparent !important;
			    font: 1.2em OswaldRegular,arial,sans-serif;
			    text-transform: uppercase;
			    text-align: center;
			}
			.value {
			    color: #6CA32C;
			    font: 1.5em OsloBold,arial,sans-serif;
			    margin: 0.3em 0 0;
			    padding: 0;
			    text-align: center;
			}
			.minutes {
			    font-size: 0.8em;
			    margin: 0;
			    text-align: center;
			    text-transform: uppercase;
			}
			
			.yield-content {
			    float: right;
			    width: 30%;

			    .yield-cont {
				    float: left;
				    margin-left: 0.5em;
				    width: 40%;
				}

				@include respond-to(bp2){
					width: 25%;
				}
			}
			
			@include respond-to(bp2){
				padding: 0;
			    text-align: left;
			}
	    }
	}
	#article-body {
	    color:$iconAndBorderColor;
	    clear: both;
    	position: relative;
    	padding-top: 0.5em;
    	margin-bottom: 1em;
    	width: 100%;

    		p.author-date label:first-child:after{
    			content:"";
    		}
    		p {
			    margin: 1.5em 0 0;
			}
		ol{
			li{
				font:15px/20px OsloRegular,arial,sans-serif;
			}
		}
	}
}

#article-inline-settings{
	.image-steps {
	    
	    float: left;
	    width: 40%;
	    margin: 0em 2em 1em 1em;

	    fieldset{
	    	margin-bottom: 1.2em;
	    }

	    .section-bar{
	    	border-bottom:none;
	    	margin-top:7em;

	    	h2{
	    		font: 1.2em OsloRegular,arial,sans-serif;
	    		text-transform: capitalize;
	    		color: #999;
	    	}
	    }
	}
	img{
		box-shadow: 0 0 8px rgba(50, 50, 50, 0.51);
    	width: 100%;
	}

	span{
		p{
			font: 1.2em OsloRegular,arial,sans-serif;
			margin:0.5em;
			float:left;
			padding:0;
		}
	}

	a {
	    float: left;
	    position: relative;
	    top: 8px;
	    z-index: 10;
	    color: rgb(0, 144, 209);
		text-decoration:none;
		outline:none;
		left: 0;
	}
}

#profile-inline-settings{
	.image-steps {
	    
	    float: left;
	    width: auto;
	    margin: 0em 2em 1em 1em;

	    fieldset{
	    	margin-bottom: 1.2em;
	    }

	    .section-bar{
	    	border-bottom:none;
	    
	    	h2{
	    		font: 1.2em OsloRegular,arial,sans-serif;
	    		text-transform: capitalize;
	    		color: #999;
	    	}
	    }

	    #image-container{
	    	width: 143px;

	    	span a{
	    		left: 1.5em !important;
   				top: 7.5em;
	    	}
	    }
	}
	img{
		box-shadow: 0 0 8px rgba(50, 50, 50, 0.51);
    	width: 100%;
	}

	span{
		p{
			font: 1.2em OsloRegular,arial,sans-serif;
			margin:0.5em;
			float:left;
			padding:0;
		}
	}

	a {
	    float: left;
	    position: relative;
	    top: 8px;
	    z-index: 10;
	    color: rgb(0, 144, 209);
		text-decoration:none;
		outline:none;
		left: 0;
	}
}

#update-article-image{
	display:none;
}

#article-tall-image-upload{
	
	#article_post_tall_img{
		@include mp-ieopacity(0);
		cursor: pointer;
	    float: left;
	    height: 2em;
	    top: 5px;
	    width: 5em;
	    z-index: 20;
	}
}

#article-tall-image-upload-form{

	a {
	    float: left;
	    position: relative;
	    top: 10px;
	    z-index: 10;
	    color: rgb(0, 144, 209) !important; 
		text-decoration:none;
		outline:none;
		left: -3.5em;
	}

	h2{
		font: 1.2em OsloRegular,arial,sans-serif;
		margin:0.5em;
		float:left;
		padding:0;
		width: 100%;
		color: #6CA32C;
	}

	span{
		p{
			font: 1.2em OsloRegular,arial,sans-serif;
			margin:0.5em 0.5em 0.5em 0;
			float:left;
			padding:0;
		}
		
		&.preview-close{
			cursor: pointer;
			p{
				text-align: right;
				 width: 100%;

				.icon-remove-sign{
					cursor: pointer;
					margin-left: 0.5em;
				} 
			}
		}
	}


	.info{
		display:none;

		label {
		    clear: both;
		    margin: 0 0.7em;
		    min-width: 50px;
		    text-align: left;
		    width: auto;
		}

		input{
			width: 5em;
		}

		 p {
		    font: 0.925em/1.2em OsloRegular,arial,sans-serif;
		    margin: 0.5em 0.7em;
		    padding: 0;
		}
	}

	
	.step2{
		display:none;
	}

	.image-info{
		margin-left: 0;
	}
}

#rules{
	width:100%;
	clear:both;
	margin: 1.5em 0 0;

	li{
		margin:0.5em;
	}
}

.image-sec{
	background: #777;
	width: 95%;
}

#image-container{
	
	span{
		display: none;
	
		a{
			background: none repeat scroll 0 0 #FFFFFF;
	    	border: 1px solid #EEEEEE;
		    color: #999999 !important;
		    left: 6em;
		    margin-top: 0;
		    padding: 0.3em;
		    position: absolute;
		    text-align: center;
		    top: 48%;
		    width: 10em;
		    @include mp-roundborder(5px);
		}
    }

	&.shown{
		img{
			opacity: 0.4;
		}
    	
    	span{
    		display:inline !important;
    		z-index:10;
    	}
    }
}

.icon-picture {
   margin-right: 0.5em;
}

.prep-time-container span {
    color: #999999;
    float: left;
    font: 1em OsloRegular,arial,sans-serif;
    margin: 0.7em;
}

.article-lightbox-img-uploader{
		width: 21.9% !important;
}

#article-tall-image-upload > form{
	margin: 0 auto;
}

.file-upload-container {

	.icon-plus-sign {
	    margin-right: 0.5em;
	}

	button {
	    background: none repeat scroll 0 0 #E06B15;
	    border: 0 none;
	    color: #FFFFFF;
	    padding: 0.5em;
	}
}

#add-an-image-fs{
	border-bottom: 1px solid #DDD;
}

#recent-article-3, #recent-article-6 {
    padding-right: 0;
}
