#articles-list{
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	
	p{
		width: 98%;
		color: black;
		font: 1.2em OsloRegular, arial, sans-serif;
		margin:0;
		padding: 0;
		position: relative;

		@include respond-to(admin2){
			width: 100%;
		}
	}

	
	.admin-article{
		width: 100%;
		margin: 0 auto 0.5em;
		padding: 0 0 0.5em;
		position: relative;
		border-bottom: 1px solid #ccc;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);
		float:left;
		
		.article-image{
			width: 20%;
			min-width: 6em;
			margin: 0;
			padding: 0.5em;
			position: relative;
			float:left;
			
			@include respond-to(admin0bp1){
				width: 15%;
				float: left;
				margin: 0.5em 0.5em 0 0;
			}

			@include respond-to(admin1){
				width: 8em;
				min-width: 8em;
				max-width:8em;
				float: left;
				margin: 0.5em 0.5em 0 0;
			}
			
			a{
				border: none;
				outline: none;
			}

			img{
				max-width: 100%;
			}

			@include respond-to(admin0bp1){
				@include mp-clearfix();
			}
		}
		.article-status{
			float: right;
			font: 0.8em OsloLight,arial,sans-serif !important;
			text-transform: uppercase;

			.live{
				color: #27CE27;
			}
			.pending{
				color: #E06B15;
			}
			.draft{
				color: #999;
			}
		}
		.article-info{
			width: 85%;
			margin: 1% 0.5em;
			overflow:hidden;
			float:left;
			padding: 0;
			position: relative;

			h2{
				width: auto;
				font: 1.4em OsloRegular,arial,sans-serif;
				margin: 0 0 0.5em;
				padding: 0;
				position: relative;
				
				@include respond-to(admin2){
					text-align: left;
				}
				
				a{
					color: #0090D1;
					text-decoration: none;
					outline:none;
					cursor:pointer;
				}
			}

			p{
				color: black;
				width: auto;
				font: 1.2em OsloRegular,arial,sans-serif;
				margin: 0 0 1em;
				padding: 0;
				position: relative;
				-webkit-hyphens: auto;
				-moz-hyphens: auto;
				-ms-hyphens: auto;
				hyphens: auto;
				display:none;
				
				a{
					color: black;
				}

				@include respond-to(admin0bp1){
					display:block;
				}
			}

			@include respond-to(admin0bp1){
				width: 79%;
				margin: 1% 0.1em 0 0;
			}
			//	This is when the nav disappears - 
			@include respond-to(admin1){
				width: 81%;
				margin: 1% 0.1em 0 0;
			}
			//	@1093px		
			@include respond-to(admin2){
				width: 81%;
				margin: 2% 0.2em 0 0;
			}
			//	Full width
			@include respond-to(admin3){
				width: 86%;
				margin: 2% 0.2em 0 0;
			}	

		}

		.btn-wrapper{
			bottom: 0.5em;
			left: 0;
			text-align:left !important;
		}

		&:last-child{
			border-bottom: none;
		}
	}

	#search-fieldset {
		margin: 0 0 3em !important;
    	#searchemailinput {
    		width: 90%;
    	}
	}

}