#categories-list{
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;

	.admin-category{
		width: 98%;
		margin: 0 auto 0.5em;
		padding: 0 0 0.5em;
		position: relative;
		border-bottom: 1px solid #ccc;
		border-bottom: 1px solid rgba(0, 0, 0, 0.15);

		@include respond-to(admin2){
			width: 100%;
		}

		h2{
			color: $catBg;
			width: auto;
			font: 1.3em PTSansBold, arial, sans-serif;
			margin: 1em 0;
			padding: 0;
			position: relative;

			a{
				color: $catBg;
				text-decoration: none;
			}
		}

		p{
			color: black;
			width: auto;
			font: 1.125em/1.125em PTSansRegular, arial, sans-serif;
			margin: 0 0 1em;
			padding: 0;
			position: relative;
		}

		&:last-child{
			border-bottom: none;
		}
	}
}

#slideshow-articles{
	
	h1{
		color: $catBg;
		font: 2.2em OswaldRegular,arial,sans-serif;
		margin: 0;
		padding: 0;
		width: 100%;

	}
	.slideshow{
		margin-top: 2em;

		section{
			ul{
				padding: 0;
				margin: 0;
				width: 100%;

				li{
					width: 49%;
					float:left;
					list-style: none;
					border: 1px solid #DDDDDD;
					padding: 0.5em;
					height: 8em;
					
					.article-content{
						margin: 0;
						padding:0;
						float: left;
						width: 100%;

						.article-img{
							min-width:8em;
							float: left;
   							width: 13%;
							
							a{
								outline:none;
								text-decoration: none;
								
								img{
									width: 100%;
								}
							}
						}

						.article-info{
							float: left;
   							width: 70%;
   							margin-left: 1em;
   							margin-top: 1.5%;

							h2{
								color: #0090D1;
								margin: 0;
								font: 1.3em/1.2em OsloRegular,arial,sans-serif;
								a{
									outline:none;
									text-decoration: none;
								}
							}
						}

						.btn-wrapper.delete{
							float:left;
						}
					}
				}
			}
		}

	}

	.ss-dd-articles{
		margin-top: 2em;

		label{
			font: 1em OsloRegular,arial,sans-serif;
		}
	}		

}

	#lightbox-cont{
		#lightbox-content{
			//width:14%;
			//min-width: 612px;
		
			#lightbox-preview-cont{

				.submenu-wrapper{
					background: none repeat scroll 0 0 #FBF7EE;
					border: 1px solid #DDDDDD;
					padding: 1em;

					.right{
						background: none repeat scroll 0 0 #FFFFFF;
						padding: 1em;

						h2{	
							font: 1.2em OswaldRegular,arial,sans-serif;
							margin: 0.2em 0 0.5em 0.1em;
							text-align: left;
						}

						#image-recipe{
							width: 100%;

							a{
								outline: none;
							}

							img{
								width:100%;
							}
						 }

						 #info-recipe{
						 	text-align:left;

						 	h2{
						 		font: 1.4em OsloRegular,arial,sans-serif;
						 		margin: 3% 0;
						 		text-align: left;
						 		text-transform: capitalize;

						 		a{
						 			color: #333333;
						 			outline: none;
						 			text-decoration: none;
						 			border:none;
						 			padding: 0.1em;
						 		}
						 	}

						 	.get-recipe{
						 		float: none;
						 	}
						 }
					}
				}
			}
		}
	}

.btn-wrapper.delete button {
    margin-right: 1em;
}
