#dropbox{
	border:1px solid #D4D4D4;
  border-radius:10px;
  position: relative;
  margin:5%;
  min-height: 220px;
  overflow: hidden;
  width: 90%;
  @include mp-gradient(#F2F2F2, #EEE, 0%, 80%);
  
  
  .message{
    font: 0.95em/1.2em PTSansRegular, arial, sans-serif;
    text-align: center;
    display: block;
    color: $catBg;
    padding-top:6em;
    
    span{
      font-weight: bold;
      &:hover{
        cursor:pointer;
        color: #424242;
      }
    }
  }
  
   &:before{
    border-radius:3px 3px 0 0;
  }

	#message-1{
		display:none;
		@include respond-to(admin2){
			display:block;
		}
	}
	
	#message-2{
		display:block;
		@include respond-to(admin2){
			display:none;
		}
	}
	
	.btn-wrapper{
		padding-right: 1%;
		text-align: center;
		margin-bottom:1%;
	}
	
	#img-name{
		font:1.25em PTSansRegular,arial,sans-serif;
		color: $catBg;
	}
	
	#input-file {
    left: 0;
    margin: 0;
    overflow: hidden;
    text-align:center;
    padding: 0;
    top: 0;
    visibility: hidden;
    width: auto;
  }
  
  .preview-file{
    width: 100%;
  	height: 100%;
    position: relative;
    text-align: center;
    margin: auto;
    padding: 3%;
    
    img{
      max-width: 400px;
      max-height:250px;
      border:3px solid #fff;
      display: block;
      box-shadow:0 0 2px #000;
      
      @include respond-to(admin2){
      	max-width: 500px;
      	max-height:500px;
      }
    }
  }

  .imageHolder{
    display: inline-block;
    position:relative;
  }

  .uploaded,
  .loading{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    max-width:332px;
    display: none;
    
    @include respond-to(admin2){
    	max-width: 100%;
    }
  }
  
  .uploaded{
    background: url('../images/symbol_check.png') no-repeat center center rgba(0,0,0,0.8);
   }
  .loading{
  	  background: url('../images/loading.gif') no-repeat center center rgba(0,0,0,0.8);
  }

  .preview.done .uploaded{
    display: block;
  }
  
	progress {
		display: none;
		appearance: none;
		-moz-appearance: none;
		-webkit-appearance: none;
		border: solid #cccccc 2px;
		border-radius: 5px;
		width: 100% ;
		max-width: 350px;
		margin-top: 6px;
		height: 20px;
	
	/* Chrome outside border*/
		&::-webkit-progress-bar {
				border-radius: 3px;
				background: #cccccc;
		}
	
	/*Firefox*/
		&::-moz-progress-bar{
				border-radius: 3px;
				@include mp-gradient(rgba(128,255,0, 1), rgba(43,194,83, 1), 0%, 80%);
			}
			
		/* Chrome inside progress style*/
		&::-webkit-progress-value {
				border-radius: 3px;
				@include mp-gradient(rgba(128,255,0, 1), rgba(43,194,83, 1), 0%, 80%);
		}
	}
}

.msie{
	.uploaded{
    background: none;
   }
  .loading{
  	  background: none;
  }
	progress{
		display:none;
	}
}
