$text_color:#5E5E5E;
$border_focus_color: rgba(82, 168, 236, 0.8);
$border_focus_color_ie: #52A8EC;

form{
	width: 100%;
	margin: 0.5em auto 0;
	padding: 0;
	position: relative;

	.gradient-button {
		display: inline-block;
		outline: none;
		cursor: pointer;
		text-align: center;
		text-decoration: none;
		padding: .5em 2em .55em;
		text-shadow: 0 1px 1px rgba(0,0,0,.3);
		-webkit-border-radius: .5em; 
		-moz-border-radius: .5em;
		border-radius: .5em;
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
		&:hover{
			text-decoration: none;
		}
		&:active{
			position: relative;
			top: 1px;				
		}
		//	red
		&.red-gradient{
			color: #fef4e9;
			//border: solid 1px #da7c0c;
			background: #ff0000;
			background: -webkit-gradient(linear, left top, left bottom, from(#ff4000), to(#890000));
			background: -moz-linear-gradient(top,  #ff4000,  #890000);
			filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4000', endColorstr='#890000');
			&:hover{
				background: #620000;
				background: -webkit-gradient(linear, left top, left bottom, from(#950000), to(#2f0000));
				background: -moz-linear-gradient(top,  #950000,  #2f0000);
				filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#950000', endColorstr='#2f0000');
			}
			&:active{
				color: #ff0000;
				background: -webkit-gradient(linear, left top, left bottom, from(#ff4000), to(#890000));
				background: -moz-linear-gradient(top,  #ff4000,  #890000);
				filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4000', endColorstr='#890000');
			}
		}
	}

	.long-label {
	    font: 1.2em OsloRegular,arial,sans-serif;
	    margin: 0 0 0.3em 160px;
	    max-width: 100%;
	    text-align: left;
	    width: auto;
	}

	fieldset{
		width: 98%;
		margin: 0.5em auto;
		padding: 0;
		border: none;

		label{
			font: 0.925em/1.2em OsloRegular, arial, sans-serif;
			width: 100%;
			margin: 0.3em 0.1em 0;
			padding: 0;
			display: block;
			text-transform: capitalize;
			
			span{
				color: red;
				font: 1.5em OsloRegular,arial,sans-serif;
				margin: 0 0 0 0;
				padding: 0;
				position: relative;
				top: 3px;
			}

			@include respond-to(admin2){
				width: 150px;
				max-width: 150px;
				float: left;
				text-align: right;
				margin: 0.3em 1% 0 0;
			}	
		}

		input{
			font: 0.85em OsloRegular, arial, sans-serif;
			width: 89%;
			margin: 0.25em 0 0;
			padding: 0.3em;
			position: relative;
			border: 1px solid rgba(0, 0, 0, 0.25);
			background: none;
			float: left;
			color: $text_color;

			&:focus{
				outline: none;
				border-color:$border_focus_color;
				@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(82, 168, 236, 0.6));
				@include mp-transitions();
			}
			
			&:invalid{
				background: none;
			}

			@include respond-to(admin2){
				width: 73%;
			}
		}

		input[type=checkbox],
		input[type=radio]{
			width: auto;
			border: 0px !important;
			margin: 0 0.5em 0 0;
			padding: 0;
			margin-top:4px;
			outline: none;
			@include mp-clearfix();
		}

		.disabled-field{
			font: 0.925em/1.2em OsloRegular, arial, sans-serif;
			width: 100%;
			margin: 0.5em 0.1em 0;
			padding: 0;
			position: relative;
			top: 2px;
			display: block;
		}

		.radio-label{
			@include respond-to(admin2){
				width: auto;
				margin: 0.35em 2em 0 0;
				text-align: left;
			}
		}

		.checkbox-label{
			margin: 0.25em 2em 0 0;
			
			@include respond-to(admin2){
				width: auto;
			}
		}

		.checkbox-group-content {
		    clear: both;
		    float: left;
		    margin-left:0;
		    width: 100%;

		    @include respond-to(admin2){
		    	margin-left: 160px !important;
		    }
		}

		.checkbox-group{
			width: auto;
			margin: 0.5em 0.5em 0.5em 0;
			padding: 0;
			position: relative;
			float: left;
			width: auto;
			
			@include respond-to(admin2){
				margin-top: 0.25em;
				width: 30%;
			}
		}

		.checkbox-group-label-parent{
			margin-top: 0.5em;
		}

		.radio-button-label-parent{
			margin-top: 0.25em;
		}

		textarea{
			font: 0.85em/1.25em OsloRegular, PTSansRegular, arial, sans-serif;
			width: 89%;
			min-height: 130px;
			margin: 0.25em 0 0;
			padding: 0.3em;
			position: relative;
			border: 1px solid rgba(0, 0, 0, 0.25);
			background: none;
			float: left;
			color: $text_color;
			/*@include border-corner-radius(top, left, 5px);
			@include border-corner-radius(bottom, left, 5px);
			@include border-corner-radius(top, right, 5px);
			@include border-corner-radius(bottom, right, 5px);
			*/

			&:focus{
				outline: none;
				border-color: $border_focus_color;
				@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(82, 168, 236, 0.6));
				@include mp-transitions();
			}
			
			&:invalid{
				background:none;
			}
			
			@include respond-to(admin2){
				width:73%;
			}
		}

		@include respond-to(admin2){
			width: 100%;
		}
	}
}

select{
	outline: none;
	float: none;
	width: auto;
	max-width: 34em;
	margin: 0.25em 0 0 0;
	padding: 4px;
	color: $text_color;
	border: 1px solid #A8A8A8 !important;
	font: 0.95em/1em OsloRegular,PTSansRegular,arial,sans-serif;
	//@include border-radius(5px);

	&.featured-select{
		width: 80%;
		max-width:100%;
		float: left;

		@include respond-to(admin2){
			max-width: 600px;
			width: 69%;
		}
	}

	&.recipe-select{
		float:left;
	}

	&.recipe-select-prefix{
		margin-left:1em;
	}

	&.status-select{
		width: 80%;
		max-width:100%;
		float: left;

		@include respond-to(admin2){
			max-width: 300px;
			width: auto;
		}
	}

	&:focus{
		outline: none;
		border-color: $border_focus_color;
		@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(82, 168, 236, 0.6));
		@include mp-transitions();
	}
}

.btn-wrapper{
	text-align: right;
	margin: 1em 0 0;

	button{
		outline:none;
		font: 1em OsloRegular,arial,sans-serif;
		width: auto;
		margin: 0;
		padding: 0.25em 1.25em;
		border: 1px solid #DDD;
		background-color: $catBg;
		color: white;
		text-align: center;
		vertical-align: middle;
		display: inline-block;
		
		&:disabled{
			@include mp-gradient(rgba(#D4D4D4, 0.65), #D4D4D4, 0%, 80%);
		}
	}

	p{
		width: 75%;
		color: #000;
		font: 1em OsloRegular, arial, sans-serif;
		margin: 0.55em 0.5em 0 0;
		padding: 0;
		position: relative;
		float: left;
		text-align: left;
		
		&.error{
			color: #B94A48;
		}

		&.success{
			//color: #000000;
		    font: 1em OswaldRegular,arial,sans-serif;
		    text-transform: uppercase;
		    vertical-align: middle;
			color: #468847;
		}

		&.new-success{
			font: 1.3em OswaldRegular,sans-serif,arial !important;
    		vertical-align: middle;
    		color: #468847;
    		background: #DFF0D8;
		}

		@include respond-to(admin2){
			width: auto;
			margin: 0 0.5em 0 0;
			float: none;
			display: inline-block;
			text-align: right;
		}
	}

	a{
		text-decoration: none;
	}
}

.multiple-forms{
	border-top: 1px solid #DDDDDD;
    padding: 1em 0;
	form{
		float: right;
	    text-align: right;
	    width: auto;
	} 
}

.main-buttons {
    text-align: right;

     p {
	    display: inline;
	    font-family: OswaldRegular !important;
	    text-transform: uppercase;
	    vertical-align: middle !important;
	    width: 30%;
	}

    button {
	    background: #E06B15;
	    border: medium none;
	    color: #FFFFFF;
	    font: 1.3em OswaldLight, sans-serif, arial;
	    margin:0 0 0 1em;
	    outline: medium none;
	    padding: 0.4em;
	}
}

.edit-recipe button{
	display:inline !important;	
}

.preview, .profile-preview, .notify{
	width: auto;
	color: $catBg;
	font: 1em OsloRegular, arial, sans-serif;
	margin: 0.65em 0 0 0.5em;
	padding: 0;
	position: relative;
	float: left;
	cursor: pointer;
	&:hover{
		text-decoration: underline; 
	}}

.notify{
	padding-left: 20px; 
}

.profile-preview{
	float: right;
}

.error-field{
	background: #F8DBDB;
	border: 1px solid #E77776 !important;
	box-shadow: 0 0 3px rgba( #E77776, 0.8);

	&:focus{
		border: 1px solid #E77776 !important;
		box-shadow: 0 0 3px rgba(#E77776, 0.6);
		outline:none;
	}
}

.alert{
	width:100% !important;
	//border-radius: 4px;
	padding: 0.5%;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #F2DEDE;
	border-color: #EED3D7;
	color: #B94A48;
	margin-top: 10px !important;
}

#elements-box {
    float: left;
    width: 73%;
    margin-left:159px;

    input {
    	width: 100%;
    	z-index: 1;
	}

	h3{
		float:left;
		font: 1.2em OsloRegular,arial,sans-serif;
	}

	.p-tag {
	    font-size: 1.3em;
	    margin: 2% 0;
	}
}

.extra-ingredients > label {
    max-width: 100%;
}

#header-search{
	margin: 0 !important;

	fieldset{
		margin:0 !important;
		padding: 0 !important;
	}
}

.p-message{
	color: #999999;
    font: 1em OsloRegular,arial,sans-serif;
    margin: 0.7em;
	float: left;
}

#account-image-icon{ 
	display:none; 
	background-color: rgba(0, 0, 0, 0.4); 
	position:absolute; 
	font-size: 1.1em; 
	text-align: center; color: #fff; 
}

.right-submit{ 
	float: left;
}

.account-file-input{ 
	display: none;
}

#preview-recipe, .review{
	display:none;
}

p{
	&.error{
		color: #B94A48;
	}

	&.success{
		font: 1em OsloRegular,arial,sans-serif;
	    vertical-align: middle;
	    color: #468847;
    	
	}

	&.new-success{
		font: 1.2em OsloRegular,sans-serif,arial !important;
    	vertical-align: middle;
    	color: #468847;
    	background: #DFF0D8;
	}
}

.hide{
	display:none;
}

.remove-element{
	float:left;
	margin-left: -20px;
	margin-top: 5px;
	position: relative;
	cursor: pointer;
	z-index: 50;

	.icon-minus-sign{
		float:left;
		color: red;
		font-size: 1.3em;
	}
}
