

.hp-slideshow{

	img{
		width: 100%;
	}

	div{
		margin: 0;
		padding: 0;
	}

	h2{
		margin:0;
		padding: 0;
		font: 1.2em OsloRegular, arial, sans-serif;

		a{
			color: $a_color !important;
		}
	}

	p{
		margin: 0;
		padding:0;
		font: 1.2em OsloRegular,arial,sans-serif;
	}

	ul{
		padding: 0;
		margin:0;

		li{
			list-style: none;
			width: 100%;
			clear:both;
			float:left;
		 	margin: 0.5em 0;	


			.article-content{
				
				.article-img{
					width: 15%;
					min-width: 8em;
					float:left;
					margin-right: 1em;
				}

				.article-info{
					width: 80%;
					float:left;

				}
			}
		}



	}



}

#slider-image-upload-form{

	a {
	    float: left;
	    position: relative;
	    top: 10px;
	    z-index: 10;
	    color: rgb(0, 144, 209) !important; 
		text-decoration:none;
		outline:none;
		left: -3.5em;
	}

	h2{
		font: 1.2em OsloRegular,arial,sans-serif;
		margin:0.5em;
		float:left;
		padding:0;
		width: 100%;
		color: #6CA32C;
	}

	span{
		p{
			font: 1.2em OsloRegular,arial,sans-serif;
			margin:0.5em 0.5em 0.5em 0;
			float:left;
			padding:0;
		}
		
		&.preview-close{
			cursor: pointer;
			p{
				text-align: right;
				 width: 100%;

				.icon-remove-sign{
					cursor: pointer;
					margin-left: 0.5em;
				} 
			}
		}
	}


	.info{
		display:none;

		label {
		    clear: both;
		    margin: 0 0.7em;
		    min-width: 50px;
		    text-align: left;
		    width: auto;
		}

		input{
			width: 5em;
		}

		 p {
		    font: 0.925em/1.2em OsloRegular,arial,sans-serif;
		    margin: 0.5em 0.7em;
		    padding: 0;
		}
	}

	
	.step2{
		display:none;
	}

	.image-info{
		margin-left: 0;
	}
}

#slideshow-update-status-form, #slideshow-delete{
	 display: inline;
    width: 30%;
     top: 1em;
}

.live {
    color: #27CE27;
}