/*****************

BEGIN STYLES FOR THE PREVIEW ON ADMIN/LISTS/EDITLIST.PHP

******************/

.list-item{

	border-radius: 3px; 
	padding: 2% 2% !important;

	p{
		color: #707070;
	}
	h1{
		font: 3.1em OswaldRegular,arial,sans-serif !important;
		margin: 0 0 15px 0 !important;
	}

	h2{
		font-size: 1.8em; 
		padding: 0; 
		margin: 0;
		font-weight: normal;
	}

	ul{
		border: none !important;
		padding: 3px 45px !important; 
		li{
			padding: 0px !important;
			color: #707070;
		}
	}

	.list-image{
		img{
			width: 85% !important;
			cursor: auto !important; 
			text-align: center !important;
		}
	}

	#list-links{
		text-align: right;
		padding: 6px 10px 6px 10px !important;
		margin-right: 6% !important;
		margin-bottom: 20px !important; 
		section{
			display: inline !important;
		}
		#social-buttons{
			// width: inherit; 
			margin-top: 5px !important; 
		}
		.social-button{
			margin-top: 5px !important;
		}
		#shared-icons{
			padding: 0 !important;
			float: right; 
			display: inline !important;
			width: inherit; 
			ul, li{
				padding: 0 !important;
				//margin: 0 !important;
				text-align: right; 
				float: none;
			}
			li{
				display: inline-block;
			}
		}

	}

	.list-description{
		float: left !important;
		clear: both;
		border: none !important;
		h2{
			padding: 0px 30px; 
		} 
		p{
			padding: 3px 30px; 
		}
	    @include respond-to(bp2){
	    	 float: none !important;
	    }

	    @include respond-to(bp3){
	    	 float: none !important;
	    }   

	    @include respond-to(bp4){
	    	 float: none !important;
	    }

	}

	#article-list-nav{
		text-align: right !important;
		button{
			background-color: #D73226 !important;
			font-size: .8em;
			padding: 3px 0 2px 0; 
			margin: 0 0 10px 0;
			float: none !important; 
			width: 15%;
			color: #fff;
			border: none;

			&.article-prev{
				@include respond-to(bp1_5){
					text-align: right;
					padding-right: 7px; 
				}
				@include respond-to(bp1){
					text-align: right;
					padding-right: 7px; 
				}
			}
			&.article-next{
				@include respond-to(bp1){
					text-align: left;				
					padding-left: 7px;
					margin-right: 30px; 
				}

				@include respond-to(bp1_5){
					text-align: left;				
					padding-left: 7px;
					margin-right: 30px; 
				}
			}
			.icon-caret-left{
				padding-right: 10px;
			}
			.icon-caret-right{
				padding-left: 10px;
			}

		    @include respond-to(bp1){
				font-size: 1.4em;
				width: 11%;
		    }


		}
	}
    @include respond-to(bp1){
    	 border: solid thin black !important;
    }




}


.list-button{
	text-align: left; 	
	button{
		border-radius: 5px;
		border: none; 
		padding: .6em .85em .40em .85em;
		margin: 0;
		font-size: .9em;


	}
	&.right-aligned{
		text-align: right; 
	}
}

/*********
*********
	Styles: admin/lists/index
*********
*********/

//	Extend existing articles-list styles...
#articles-list{

	.orange-link{
		color: #E06B15 !important;
		font-size: .65em;
		&:hover{
			text-decoration: underline;
		}
	}

	#admin-add-new-list{
		padding: 10px 0; 
		textarea{
			min-height: 0px; 
		}
	}

	#add-list-form{
		height: 280px; 
		border-bottom: solid thin #CCC;

		@include respond-to(bp1) {
			height:240px;
		}
		@include respond-to(bp2) {
			height:300px;
		}
		@include respond-to(bp3) {
			height:240px;
		}

	}

	.admin-add-new{
		p{
			margin: 0 !important;
			padding: 0 !important;
		}
	}

	.page-list-inline{
		list-style: none;


		li{			
			text-align: center;
			display: inline-block; 
			img{
				height: 50px;
				margin: 3px; 
				box-shadow: 4px 4px 5px #888888;
			}
			p{
				font-size: .8em;
				padding: 0;
				margin: 5px 0!important;
			}
		}
	}

	.list-delete-form{
		.btn-wrapper{
			text-align: right !important;
			margin-bottom: 10px; 
		}
	}

}

/*********
*********
	Styles: admin/lists/edit/this-list
*********
*********/

#page-list-settings{




	.wysiwyg {
		width: 87%;
	}	

	.inline-div{
		display: inline-block;
		width: 84%;
		overflow: hidden;
		border: thin solid #cdcdcd;
		border-radius: 10px;
		padding: 5px 10px 5px 20px;
		margin: 10px; 
		#result{
			padding: 0 !important;
			margin: 0 !important;
		}
		form{
			fieldset{
				label{
					text-align: left;
				}
				.tooltip{
					margin-top: 5px; 
				}
			}
		}
	    @include respond-to(bp1) {
	    	 width: 46%;
	    }
	    // @include respond-to(bp3){
	    // 	 width: 30%;
	    // }


	}
	
	.delete-page-list-item{
		margin: 0;
		padding-right: 15px;
		button{ 
			//border: thin solid #909090;

			border-radius: 20px; 
			width: 23px;
			height: 23px;  
			padding: 1px;
		}
	}

	.add-list-item{
		width: 96%;
		height: 553px;
		background: #dedede;
		cursor: pointer;
		padding: 0 5px;
		margin: 10px 0;
		p.large-add-text{
			margin: 0;
			font-size: 7em;
			text-align: center;
			line-height: .9em;
			color: #919191;
			text-shadow: 1px 1px #ffffff;
			@include respond-to(bp1){
				margin-top: 41px;
				padding: 20px;
			}
		}
		&:hover{

			-webkit-transition: background 0.5s linear;
	        -moz-transition: background 0.5s linear;
	        -ms-transition: background 0.5s linear;
	        -o-transition: background 0.5s linear;
	        transition: background 0.5s linear;

			background: #bbbbbb;
			color: #000;
			p{
				color: #4c4c4c;
			}
		}
	    @include respond-to(bp1){
	    	 width: 95%;
	    	 height: 562px;
	    }
	    // @include respond-to(bp3){
	    // 	 width: 30%;
	    // }


	}
	.page-list-item-data-form{
		padding: 0;
		input, textarea{
			width: 87%;
		}
		.radio-input{
			width: auto;
			display: inline;
			float: none;
		}
		// .radio-toggle{
		// 	height: 100px; 
		// 	display: none;
		// }

		// .hidden{
			
		// }
		// .shown{
		// 	display: inherit;
		// }

	}
}

.page-list-none{
	margin: 0 !important;
}

.list-image{
	img{
		max-height: 70%;
		max-width: 90% !important;
	}
}

.list-item-img{
	height: 88px;
	overflow: hidden;
	text-align: center;
	img{
		max-width: 100%;
		max-height: 90%;
	}
}

#page-list-item-data-add-form{
	padding-top: 20px;
	display: none; 
	input{
		width: 87%; 
	}
}

#page-list-item-image-upload-form{
	fieldset{
		label{
			text-align: left;
		}
	}
	input{
		border-radius: 3px; 
		width: 87%;
	}
}
