.register-cont{
	margin-top: 2% !important;
	min-height: 10% !important;
	max-width: 400px !important;
	border: 1px solid #DDDDDD;
	h2{
		color: #424242;
		font-size: 1.2em;
	}

	#register-form-cont{
		p{
			margin: 0;
			width: 100%;
			font-size: 1em; 
		}


		fieldset{
			margin-top: 1em;

			label{
				display: block;
			    font-size: 1em;
			    margin: 1px 0;
			    max-width: 90%;
			    text-align: left;
			    text-transform: none;
			    width: 100%;
			    a{
			    	outline:none;
			    	color: #0099FF !important
			    }
			}

			input{
				margin: 0; 
			}
			.checkbox-label{
				margin-left: 5%; 
			}
		}
	}


}