$toolTipSize: 0.9em;
.tooltip{
	width: auto;
	margin: 0.05em 0 0 0.5em;
	padding: 0;
	position: relative;
	float: left;
	
	img{
		width: auto;
		margin: 0;
		padding: 0;
		position: relative;
		cursor: help;
	}

	.tooltip-info{
		background: #fff;
		width: 290px;
		margin: $toolTipSize 0 0 0;
		padding: 0.5em 1em;
		position: absolute;
		top: 100%;
		right: -0.4em;
		z-index: 40;
		@include box-shadow(0 0 5px rgba($border_focus_color, 0.7));
		@include border-radius(0.5em);
		display: none;
		
		p{
			width: 100%;
			color: #000;
			font: 1em/1.5em PTSansRegular, arial, sans-serif;
			text-align: center;
			margin: 0;
			padding: 0;
			position: relative;
		}
	}

	.tooltip-info:after{
		content: " ";
		width: 0;
		height: 0;
		border-left: $toolTipSize solid transparent;
		border-right: $toolTipSize solid transparent;
		border-bottom: $toolTipSize solid rgba($border_focus_color, 0.4);
		position: absolute;
		top: -$toolTipSize;
		right: 0.5em;
		z-index: 40;
	}
}