#player-cont{
	background: black;
	width: 100%;
	max-width: 1000px;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	
	#mp-player-main-cont,
	#mp-article-video-player-cont{
		@include respond-to(bp3){
			max-width: none !important;
		}
	}

	#video-progress,
	#volume-current{
		@include mp-gradient(lighten($playerAccent, 25%), darken($playerAccent, 50%), 0%, 100%, true);
	}

	.playlist-item-title h2{
		color: $playerAccent !important;
	}

	.player-error p{
		color: #fff !important;
		font: 1em/0em OsloItalic, PTSansItalic, arial, sans-serif !important;
		margin: 0 !important;
	}
	
	p#countdown-dismiss:hover,
	p#countdown-dismiss:focus{
		color: $playerAccent !important;
	}

	@include respond-to(bp1){
		display: block;
		min-height: 340px;
	}

	@include respond-to(bp1_5){
		min-height: 380px;
	}

	@include respond-to(bp2){
		min-height: 440px;
	}

	@include respond-to(bp3){
		width: 100%;
		min-height: 394px;
	}
}