#main-article-cont{
	width: 98%;
	margin: 0.5em auto 0;
	padding: 0;
	position: relative;

	h1{
		width: auto;
		color: #000;
		font: 2em OsloRegular, arial, sans-serif;
		margin: 0 0 0.3em;
		padding: 0;
		position: relative;

		a{
			color: #000;
			text-decoration: none;	
			outline:none;
		}

		@include respond-to(bp1_5){
			font: 2.25em OsloRegular, arial, sans-serif;
		}
	}

	h3{
		width: auto;
		margin: 0;
		//padding: 1em 0 0;
		padding: 0.5em;
		//font: 1.4em OsloBold,arial,sans-serif;
		font: 1.4em OswaldRegular,arial,sans-serif;
		//border-bottom: 1px solid $borderColor;
		clear:both;
		background: none repeat scroll 0 0 #6CA32C;
		color: #FFFFFF;
		height: 2em;
		text-transform: uppercase;

		a{
			color: #000;
			text-decoration: none;	
			outline:none;
		}
	}

	p.author-date{

	 	label {
	    	color: $iconAndBorderColor;
	    	font: 0.8em OsloRegular,arial,sans-serif;
	    	cursor:text;
		}

		label:first-child:after {
		    content: "|";
		    margin-left: 0.4em;
		}
	}

	#section-video-player {
	    margin-top: 3%;
	    padding-bottom: 0;
	}

	#link-to-article-print-only{
		display: none; 
	}

    #simpledish-logo-printer-only { 
      display: none;
    }

	#image-description {
	    clear: both;
	    float: none;
	    margin-top: 3%;
	    width: 100%;
	    color: $iconAndBorderColor;
	}

	#article-image{
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
	
		img{
			max-width: 100%;
			cursor:pointer;

			@include respond-to(bp3){
				width: 100%;
			}
		}

		#numb-images{
			color: white; 
			width: 100%; 
			max-width:31em;
			background: rgb(80, 80, 80); 
			opacity: 0.8; 
			padding: 0.4em; 
			margin: -3em auto 0;
			cursor:pointer;

		}
	}

	//Social Icons Style
	#social-buttons, #social-buttons-ss{
		width: 100%;
		margin: 1em 0 0;
		padding: 0;
		position: relative;
		text-align: center;

		@include respond-to(bp1_5){
			text-align: left;
		}
		
	}

	#social-buttons{
		display:block;
	} 

	.social-button, .generic-social-icons{
		margin: 0 0.1em 0 0;
		padding: 0.2em;
		position: relative;
		display: inline-block;
		cursor: pointer;
		width: auto;
		@include mp-clearfix();
		@include mp-transitions();

		 a{
		 	outline: none;
		 	border: none;
		 	text-decoration: none;
		 }

		 img{
		 	margin: 0 0 0 0;
		 	padding: 0;
		 	position: relative;
		 	float: left;
		 	z-index: 5;
		 	-webkit-backface-visibility: hidden;
		 	width: 45%;
		 	max-width: 1.4em;
		 }

		 .count{
		 	margin: 0;
		 	padding: 0;
		 	position: relative;
		 	float: left;
		 	z-index: 5;

		 	p{
		 		color: white;
		 		font: .9em PTSansRegular, arial, sans-serif;
		 		margin: 0;
		 		padding: 0 0 .2em .5em;
		 		position: relative;
		 		top: 2px;
		 		-webkit-backface-visibility: hidden;
		 		a{
		 			color: white;
		 		}
		 	}
		 }

		 &:hover,
		 &:focus{
		 	&:before{
		 		@include mp-ieopacity(100);
		 	}
		 }
	}

	.social-button:before{
		background: rgba(255, 255, 255, 0.25);
		content: ' ';
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		@include mp-transitions();
		@include mp-ieopacity(0);
	}

	#facebook{
		//background: #3B5998;
	}

	#twitter{
		//background: #00ACED;
	}

	#pinterest{
		//background: #C92305;
	}

	#google-plus{
		//background: #C40807;

		img{
			margin-right: 0.25em;
			top: 1px;
		}
	}

	#linked-in{
	//	background: #4875B4;

		img{
			top: -1px;
		}
	}

	#stumble{
		background: #EF4E22;
	}
	
	#article-rating{
		width: 100%;
		margin: 0.5em 0 1em;
		padding: 0;
		position: relative;
		text-align: center;
		
		.label{
			color: $iconAndBorderColor;
		    display: inline-block;
		    float: none;
		    font: 1.2em OsloRegular,arial,sans-serif;
		    position: relative;
		    top: 1px;
		    width:100%;
		}

		.star-cont{
			float: none;
			margin-left: 0;
			margin-bottom: 0.5em;
			padding:0;
			text-align:center;

			label {
				width: auto;
			    color: $iconAndBorderColor;
			    cursor: text;
			    font: 1.2em OsloRegular,arial,sans-serif;
			    margin-left: 0.5em;

			    @include respond-to(bp1_5){
			    	font: 1em OsloRegular,arial,sans-serif;
			    	top: -2px;
			    }
			}

			i{
				font-size: 1.4em;
			    margin-right: 0.1em;
				cursor: pointer;

				@include respond-to(bp2){
					font-size:1.7em;
				}

				&.icon-star.full{
					color: #e26c15;
				}

				
			}
			.icon-star-half-empty{
				color: #e26c15;
			}

			@include respond-to(bp1_5){
				text-align:left;
			}

		}

		@include respond-to(bp1_5){
			text-align: left;
		}
	}

	.article-description {
	    margin-top:5%;
	    border-bottom: 1px dotted #707070;
	    border-top: 1px dotted #707070;
	    display:inline;
	    float:left;
	    padding: 5% 0;
	    position:relative;
	    width:100%;

	    #short-description{
		    p{
		    	font:15px/20px OsloRegular,arial,sans-serif;
		    }
	    }

		#preps-yields {

		    padding: 0.5em;
		    text-align: center;
		    clear:both;

		    .timing {
			    float: left;
			    width: 70%;

			    @include respond-to(bp2){
					width:63%;
				}
			}
			.yield {
			    float: left;
			    width: 40%;
			}

			.icon {
			    background-color: #6CA32C;
			    color: #FFFFFF;
			    display: table;
			    float: left;
			    font-size: 2em;
			    height: 35px;
			    width: 35px;
			    margin-top: 0.2em;
			    text-align: center;
			    @include mp-roundborder(25px);
			   
			    @include respond-to(bp2){
			    	font-size: 2.5em;
			    	height: 46px;
			    	width: 46px;
			    }
			}
			.icon-time {
			    vertical-align: middle;
			}

			.icon-food {
			    font-size: 0.8em;
			    vertical-align: middle;
			}

			.timing-cont{
				
				float: left;
			    width: 75%;
			    margin-left: 0;
				
				span {
			    	float: left;
			    	width: 33%;
				}

				@include respond-to(bp2){
					width: 80%;
					margin-left: -1em;
				}
			}

			.title {
			    background: none repeat scroll 0 0 transparent !important;
			    font: 1.2em OswaldRegular,arial,sans-serif;
			    text-transform: uppercase;
			    text-align: center;
			}
			.value {
			    color: #6CA32C;
			    font: 1.5em OsloBold,arial,sans-serif;
			    margin: 0.3em 0 0;
			    padding: 0;
			    text-align: center;
			}
			.minutes {
			    font-size: 0.8em;
			    margin: 0;
			    text-align: center;
			    text-transform: uppercase;
			}
			
			.yield-content {
			    float: right;
			    width: 30%;

			    .yield-cont {
				    float: left;
				    margin-left: 0.5em;
				    width: 40%;
				}

				@include respond-to(bp2){
					width: 35%;
				}
			}
			
			@include respond-to(bp2){
				padding: 0;
			    text-align: left;
			}
	    }
	}
	#article-body {
	    color:$iconAndBorderColor;
	    clear: both;
    	position: relative;
    	padding-top: 0.5em;
    	width: 100%;

    	label{
    		left: 0.5em;
		    position: relative;
		    top: 0.15em;
    	}

    	a{
			cursor: pointer;
			color: #0090D1 !important;
			outline:none;
		}

    	p.author-date label:first-child:after{
    		content:"";
    	}

    	p {
		    margin: 1.5em 0;
		    font: 15px/20px OsloRegular,arial,sans-serif;
		}
		ol{
			li{
				//font:1.2em/2em OsloRegular,arial,sans-serif;
			}
		}

		h3{
			height:auto;
			padding:0;
		}

		.squares{
			width:auto;
		}
	}

	.contact-method{
		width: auto;
		margin: 0 0 2.5em;
		padding: 0;
		position: relative;
		@include mp-clearfix();

		p{
			width: auto;
			color: #000;
			font: 1em OsloRegular, arial, sans-serif;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
			position: relative;
			display: inline;

			a{
				color: $catBg;
				text-decoration: none;
				outline:none;

				&:hover,
				&:focus{
					//text-decoration: underline;
				}
			}
		}
	}
	.contact-method:before{
		color:$catBg;
		margin: 0 0.25em 0 0;
		padding: 0;
		position:  relative;
		top: 2px;
		display: inline;
	}
		
	#blog:before{
		content: "W";
		font: 1.5em Pictos;
		margin: 0 0.25em 0 0;
	}
	
	
	ul,
	ol{
		width: 100%;
		//margin: 1.5em auto;
		margin: 0 0 1em;
		position: relative;
		list-style-position: outside;
		//padding: 0 2em;
		padding: 1em 2em;
		border: 1px solid #DDDDDD;
	}

	ol{
		//padding: 0 0 0 2em;
		padding: 1.3em 0 1.3em 3em;
	}

	li{
		width: 98%;
		font: 15px/20px OsloRegular,arial,sans-serif;
		margin: 0.4em 0;
		padding: 0;
		position: relative;

		a{
			color: #000;
		}
	}

	.has-videos{
		display:block;
		
		@include respond-to(bp1_5){
			display:none !important;
		}
	}
	
	.right {
	    float: right;
	    width: 100%;

	    @include respond-to(bp1_5){
	    	width: 53%;
	    }
	}

	.left{
		float:left;
		width:100%;

		@include respond-to(bp1_5){
	    	width: 44%;
	    }
	}

	@include respond-to(bp3){
		width: 100%;
	}
}

.version-2{
	ol, ul{
		border: none !important;
	}

	h3{
		border-bottom:none !important;
		background: none !important;
		padding: 1em 0 0 !important;
		font: 1.4em OsloBold,arial,sans-serif !important;
		color: #707070 !important;
	}

	#shared-icons{
		float:left !important;
	}
}

#main-article-cont.static-pages{
	margin-top: 0;

	.infographic-img, .foodfight-img{
		img{
			width: 100%;
		}
	}

	.foodfight-img img{
		padding: 0;

		@include respond-to(bp1){
			padding: 0 5%;
		}
	}

	.static-body{
		h2{
			color: $catBg;
			font: 1.8em OswaldRegular,arial,sans-serif;
			padding:0;
			margin: 0.5em 0; 
		}

		div{
			width: 100%;
			padding: 0;
			margin: 0 0 2em 0;
		}

		ul{
			padding:0;
			margin:0;
			list-style: none;

			li{
				margin: 1em 0;
			}
		}

		a{
			outline: none;
			text-decoration: none;

			&:hover{
				text-decoration: none;
				cursor: pointer;
			}
		}

		p{
			  height: 35px;
			  display: table-cell;
			  vertical-align: middle;
		}

		.icon {
		    background-color: $catBg;
		    @include mp-roundborder(25px);
		    color: #FFFFFF;
		    display: table;
		    float: left;
		    font-size: 2em;
		    height: 35px;
		    padding-top: 0.25em;
		    margin: 0 0.5em 0 0;
		    text-align: center;
		    width: 35px;
		    clear:both;
		}
	}

	#social-buttons{
		margin: 2em 0 0;
		text-align: left !important;

		@include respond-to(bp1){
			text-align: right !important;
		}
	}

	#social-buttons.foodfight-social{
		padding: 0;

		@include respond-to(bp1){
			padding: 0 5%;
		}
	}

	.social-button{
		margin: 0 0 0 0.5em !important;
	}



	@include respond-to(bp3){
		margin-top: 4em;
	}
}

.static-page-title{
	h1{
		color: #6CA32C;
	    float: left;
	    font: 2.8em OswaldRegular,arial,sans-serif;
	    margin: 0;
	    padding: 0;
	    width: 100%;
	}
}

.ingredients{
	font-size:1.3em;

	li{
		a{
			outline: none;
			cursor: pointer;
			color: #0090D1 !important;
		}
	}
}

#similar-article-3, #similar-article-6{
	padding-right: 0;
}