#slide-show-cont{
	$gradientStart: rgba($catBg, 0.35);
	background: $sectionHeaderColor; /* Old browsers */
	background: -moz-linear-gradient(top, rgba($catBg, 0.35) 0%, $bgColor 85%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($catBg, 0.35)), color-stop(85%, $bgColor)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba($catBg, 0.35) 0%, $bgColor 85%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba($catBg, 0.35)  0%, $bgColor 85%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba($catBg, 0.35)  0%, $bgColor 85%); /* IE10+ */
	background: linear-gradient(top, rgba($catBg, 0.35)  0%, $bgColor 85%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{lighten($catBg, 35%)}', endColorstr='#{$bgColor}',GradientType=0 ); /* IE6-9 */

	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	display: none;

	#slide-show{
		width: 100%;
		max-width: 1000px;
		margin: 0 auto;
		padding: 0.5em 0 0;
		position: relative;
		@include mp-clearfix();
	}

	#main-slide-show-article{
		width: 98%;
		margin: 0 auto 0.5em;
		padding: 0;
		position: relative;
		
		a{
			outline: none;
			border: none;
			color: white;
			text-decoration: none;
		}

		img{
			width: 100%;
			margin: 0;
			padding: 0;
		}

		#main-slide-show-article-info{
			background: #000;
			background: rgba(0, 0, 0, 0.65);
			width: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			bottom: 0;
			left: 0;

			h2{
				width: 98%;
				color: #fff;
				color: rgba(#fff, 0.85);
				font: 1.55em PTSansRegular, arial, sans-serif;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
				margin: 0.75em auto 0.25em;
				padding: 0;
				position: relative;
				@include mp-transitions();
			}

			p{
				width: 98%;
				color: white;
				font: 1em PTSansRegular, arial, sans-serif;
				margin: 0 auto 0.75em;
				padding: 0;
				position: relative;

				a{
					color: white;
					text-decoration: underline;
				}
			}
		}

		@include respond-to(bp2){
			width: 82%;
		}

		@include respond-to(bp3){
			width: 69%;
			margin: 0;
			float: left;
		}
	}

	#slide-show-article-thumbs-cont{
		width: 98%;
		margin: 0 auto 0 1.333%;
		padding: 0;
		position: relative;
		
		.slide-show-article-thumb{
			width: 32.6666%;
			margin: 0 0.6666% 0 0;
			padding: 0;
			position: relative;
			float: left;

			a{
				outline: none;
				border: none;
				color: white;
				text-decoration: none;
			}

			img{
				width: 100%;
				max-height: 133px;
				margin: 0;
				padding: 0;
			}

			#slide-show-article-thumb-info{
				background: #000;
				background: rgba(0, 0, 0, 0.75);
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0;
				position: absolute;
				bottom: 0;
				left: 0;
				@include mp-transitions();

				h2{
					width: 98%;
					margin: 0 auto;
					padding: 0;
					color: #fff;
					color: rgba(#fff, 0.65);
					font: 1.45em PTSansRegular, arial, sans-serif;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
					position: absolute;
					bottom: 0.35em;
					left: 0.5em;
					@include mp-transitions();
				}
			}

			@include respond-to(bp3){
				width: 100%;
				margin: 0 0 0.5em;
				padding: 0;
				position: relative;
				float: none;
			}
		}

		.current,
		.slide-show-article-thumb:hover,
		.slide-show-article-thumb:focus{
			#slide-show-article-thumb-info{
				height: 28%;

				h2{
					color: #fff;
				}
			}
		}

		#slide-show-article-3{
			margin-bottom: 0;
		}

		@include respond-to(bp3){
			width: 30.5%;
			margin: 0;
			float: right;
		}
	}

	@include respond-to(bp1){
		display: block;
	}
}