#single-contributor-page-heading{
	width: 100%;
	margin: 0.5em 0 0;
	padding: 0;
	position: relative;
	@include mp-clearfix();

	img{
		width: 25%;
		margin: 0 0.5em 0.25em;
		padding: 0;
		position: relative;
		float: left;

		@include respond-to(bp1){
			width: 20%;
		}

		@include respond-to(bp1_5){
			width: 18%;
		}

		@include respond-to(bp2){
			width: 15%;
		}

		@include respond-to(bp3){
			width: 18%;
			margin: 0 0.5em 0 0;
		}
	}

	#contributor-info{
		width: 70.5%;
		margin: 0 0 0.125em;
		padding: 0;
		position: relative;
		float: left;

		h1{
			width: 100%;
			color: #000;
			font: 2.5em PTSansRegular, arial, sans-serif;
			text-transform: uppercase;
			margin: -0.125em 0 0;
			padding: 0;
			position: relative;

			@include respond-to(bp1){
				font-size: 3.25em;
				margin: -0.2em 0 -0.15em;
			}

			@include respond-to(bp1_5){
				font-size: 3.5em;
			}

			@include respond-to(bp2){
				font-size: 4em;
				margin-top: -0.235em;
			}

			@include respond-to(bp3){
				font-size: 4.3em;
				margin-top: -0.2em;
			}
		}

		p{
			width: 100%;
			color: #000;
			font: 1.35em PTSansRegular, arial, sans-serif;
			text-transform: uppercase;
			margin: 0;
			padding: 0.25em 0 0 0;
			position: relative;
			border-top: 1px solid #000;
			border-top: 1px solid rgba(0, 0, 0, 0.5);

			@include respond-to(bp1){
				font-size: 1.5em;
				margin: 0;
			}
		}

		@include respond-to(bp1){
			width: 77%;
		}

		@include respond-to(bp1_5){
			width: 79%;
		}

		@include respond-to(bp2){
			width: 82%;
		}

		@include respond-to(bp3){
			width: 81%;
		}
	}

	#contributor-bio{
		width: 98%;
		margin: 0 auto;
		padding: 0;
		position: relative;

		p{
			color: #000;
			font: 1em/1.25em PTSansRegular, arial, sans-serif;
			margin: 0;
			padding: 0;
			position: relative;
		}
	}

	#contributor-contact-cont{
		width: 98%;
		margin: 0 auto;
		padding: 0;
		position: relative;
		clear: both;
		@include mp-clearfix();

		.contact-method{
			width: auto;
			margin: 0.5em 0 0;
			padding: 0;
			position: relative;
			@include mp-clearfix();

			p{
				width: auto;
				color: #000;
				font: 1em PTSansRegular, arial, sans-serif;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				position: relative;
				display: inline;

				a{
					color: #000;
					text-decoration: none;

					&:hover,
					&:focus{
						//text-decoration: underline;
					}
				}
			}

			@include respond-to(bp1){
				display: inline-block;
				margin: 0.5em 0.75em 0;
			}
		}

		.contact-method:before{
			color:$catBg;
			margin: 0 0.25em 0 0;
			padding: 0;
			position:  relative;
			top: 2px;
			display: inline;
		}

		#blog:before{
			content: "W";
			font: 1.5em Pictos;
			margin: 0 0.25em 0 0;
		}

		#email:before{
			content: 'M';
			font: 1.5em Pictos;
			margin: 0 0.25em 0 0;
		}

		#twitter:before{
			content: 'B';
			font: 1.5em Pictos;
			margin: 0 0.25em 0 0;
		}

		@include respond-to(bp1){
			text-align: center;
		}
	}
}

#contributor-articles{
	width: 100%;
	margin: 0.5em 0 0;
	padding: 0;
	position: relative;
}

#contributor-articles-cont{
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	@include mp-clearfix();

	.contributor-article{
		width: 100%;
		margin: 0.5em 0 0;
		padding: 0;
		position: relative;
		@include mp-clearfix();

		.article-image{
			width: 30%;
			margin: 0 0.5em;
			padding: 0;
			position: relative;
			float: left;

			a{
				outline: none;
				border: none;
				text-decoration: none;
			}

			img{
				max-width: 100%;
			}

			@include respond-to(bp3){
				margin: 0 0.5em 0 0;
			}
		}

		.article-info{
			width: 66%;
			margin: 0;
			padding: 0;
			position: relative;
			float: left;

			h2{
				color: $catBg;
				font: 1.25em PTSansBold, arial, sans-serif;
				text-transform: uppercase;
				margin: 0;
				padding: 0;
				position: relative;
				
				a{
					color: $catBg;
					text-decoration: none;

					&:hover,
					&:focus{
						//text-decoration: underline;
					}
				}
			}

			p{
				font: 1em/1.125em PTSansRegular, arial, sans-serif;
				margin: 0;
				padding: 0;
				position: relative;
			}

			@include respond-to(bp3){
				width: 68%;
			}
		}

		#rating{
			width: 66%;
			margin: 0 0 0 1em;
			padding: 0;
			position: absolute;
			bottom: 0;
			left: 30%;

			@include respond-to(bp3){
				margin: 0 0 0 0.5em;
			}
		}

		@include respond-to(bp1_5){
			width: 50%;
			float: left;
		}
	}
}