.mozilla{
	#main-slide-show-article-info{
		p a{
			text-decoration: none !important;
		}
	}

	.star-cont{
		span{
			font-size: 0.95em !important;
		}

		.half{
			width: 0.45em !important;
		}
	}

	#sidebar-search,
	#sidebar-newsletter-cont{
		#submit,
		#newslettersubmit{
			padding: 0.25em 0.25em 0.1em 0.2em !important;
			top: -1px;
		}
	}

	#sidebar-facebook-gallery{
		padding: 0.7em 0 !important;
	}
	
	#sidebar-writeforus{
		padding: 0.7em 0 !important;
	}

	#slide-show-cont #slide-show #slider{
		//width: 95%;
	}
	
}

.mozilla-12post{
	.star-cont{
		top: -2px !important;

		span{
			font-size: 1.35em !important;
			width: 1em !important;
		}

		.half{
			width: 0.35em !important;
		}
	}

	.recent-article{
		.star-cont{
			top: -4px !important;
		}
	}

	#article-rating{
		.star-cont{
			top: 4px !important;
		}
	}

	#sidebar-facebook-gallery{
		padding: 1.1em 0 !important;
	}
	
	#sidebar-writeforus{
		padding:1.1em 0 !important;
	}
}

.opera{
	#sidebar-search,
	#sidebar-newsletter-cont{
		#submit,
		#newslettersubmit{
			padding: 0.15em 0.25em 0.1em 0.6em !important;
			top: -1px;
		}
	}

	#sidebar-newsletter-cont{
		#firstname,
		#lastname{
			display: inline-block;
		}
	}

	#article-rating .star-cont{
		top: 3px;
	}

	#sidebar-facebook-gallery{
		padding: 1.4em 0 !important;
	}
	
	#sidebar-writeforus{
		padding: 1.4em 0 !important;
	}

	.video-series .videos-slider li{
		float: left;
	}

	.video-series .flex-direction-nav a{
		position:relative;
	}
	.video-series .flex-direction-nav .flex-next {
		left:0;
	}
}

.safari{
	#header-cont header #header-menu ul .parent .submenu-wrapper{
		z-index: -1 !important;
	}

	#header-cont header .header-icon {
		max-width: 4em;
	}

	#maint-cont header h2{ padding: 2px 0 0 0; }

	#sidebar-search,
	#sidebar-newsletter-cont{
		#submit,
		#newslettersubmit{
			padding: 0.5em 0.25em 0.25em 0.2em !important;
			top: 2px;
		}
	}

	#sidebar-facebook-gallery{
		padding: 1.4em 0 !important;
	}
	
	#sidebar-writeforus{
		padding: 1.4em 0 !important;
	}

	.video-series .next-arrow{
		right: 13px;
		margin-top: -15%;
	}

	.video-series .preview-arrow {
		margin-top: 4%;
	}

	#video-icon-span.has-video {
		margin-top: -2.2em;
	}

	#list-results-articles-cont .list-articles #video-icon-span.has-video {
		margin-top: -1.5em;
	}

	.video-series .videos-slider li{
		float: left;
	}

	#main-article-cont.static-pages .static-body .icon{
		height: 25px;
	}

}

.chrome{
	#header-cont header #header-menu ul .parent .parent-title {
		padding: 0.5em 0.02em 0.5em 0.5em;
	}
	#header-cont header #header-menu ul .parent .submenu-wrapper {
		margin-top: 0.38em;
		margin-left: 2px;
		z-index: -1 !important;
	}

	#header-cont header .header-icon {
		max-width: 4em;
	}

	.video-series .next-arrow {
		right: 8px;
		margin-top: -20%;
	}

	#video-icon-span.has-video {
		//margin-top: -2.25em;
		top: 3.3em;
	}

	.video-series .videos-slider li{
		float: left;
	}

	#searchemailinput {
	    width: 75%;
	    
	    @include respond-to(bp3){
			width: 69%;
		}	    

	}

	.thumbs-1r .videoCube.syndicatedItem.horizontal {
		width: 12em !important;
	}
}

.msie9,
.msie10{
	.pod .visit-pod a:after,
	header h2 span:after,
	#footer-cont footer .footer-list h2:before{
		display: none;
	}

	#main-article-cont #article-rating .star-cont{
		top: 4px;
	}

	.video-series .videos-slider li{
		float: left;
	}

	.video-series .flex-direction-nav a{
		position:relative;
	}
	.video-series .flex-direction-nav .flex-next {
		left:0;
	}
}