$text_color:#5E5E5E;
$border_focus_color: rgba(82, 168, 236, 0.8);
$border_focus_color_ie: #52A8EC;

#contact-us-cont{
	form{
		width: 100%;
		margin: 0.5em auto 0;
		padding: 0;
		position: relative;

		fieldset{
			width: 98%;
			margin: 0.5em auto;
			padding: 0;
			border: none;

			label{
				font: 1.2em OlsoRegular, arial, sans-serif;
				width: 100%;
				margin: 0.3em 0.1em 0;
				padding: 0;
				display: block;
				
				span{
					color: red;
					font: 1.5em OlsoRegular,arial,sans-serif;
					margin: 0 0 0 0;
					padding: 0;
					position: relative;
					top: 3px;
				}

				@include respond-to(bp3){
					width: 18%;
					max-width: 150px;
					float: left;
					text-align: right;
					margin: 0 1% 0 0;
				}	
			}

			input{
				font: 1.2em OlsoRegular,arial,sans-serif;
				text-transform:uppercase;
				width: 100%;
				margin: 0.25em 0 0;
				padding: 0.3em;
				position: relative;
				border: 1px solid rgba(0, 0, 0, 0.25);
				background: none;
				float: right;
				color: $text_color;
		
				&:focus{
					outline: none;
					border-color:$border_focus_color;
					@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(82, 168, 236, 0.6));
					@include mp-transitions();
				}
				
				&:invalid{
					background: none;
				}

				@include respond-to(bp3){
					width: 80%;
				}
			}

			input[type=checkbox],
			input[type=radio]{
				width: auto;
				border: 0px !important;
				margin: 0 0.5em 0 0;
				padding: 0;
				margin-top:4px;
				outline: none;
				@include mp-clearfix();
			}

			textarea{
				font: 1.2em OlsoRegular, arial, sans-serif;
				text-transform: uppercase;
				width: 100%;
				min-height:130px;
				margin: 0.25em 0 0;
				padding: 0.3em;
				position: relative;
				border: 1px solid rgba(0, 0, 0, 0.25);
				background: none;
				float: right;
				color: $text_color;
				
				&:focus{
					outline: none;
					border-color: $border_focus_color;
					@include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(82, 168, 236, 0.6));
					@include mp-transitions();
				}
				
				&:invalid{
					background:none;
				}
				
				@include respond-to(bp3){
					width:80%;
				}
			}
		}
		
		@include respond-to(bp3){
			margin: 0.5em 0 3em 0;
		}
	}
}

button{
	background: none repeat scroll 0 0 $catBg;
	color: white;
	padding: 0.5em 0.25em 0.25em 0.2em;
	border:none;
	float: right;
	font: 1.2em OsloRegular,arial,sans-serif;
	text-transform: uppercase;
    width: 20%;
}
.error-field{
	background: #F8DBDB;
	border: 1px solid #E77776 !important;
	box-shadow: 0 0 3px rgba( #E77776, 0.8);

	&:focus{
		border: 1px solid #E77776 !important;
		box-shadow: 0 0 3px rgba(#E77776, 0.6);
		outline:none;
	}
}

.button-div{
	 text-align: right;
	 width: 100%;
	 
	 @include respond-to(bp3){
	 		width: 94%;
	 }
}
