#lightbox-cont, #lightbox-cont2{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	visibility: hidden;
	@include mp-ieopacity(0);
	@include mp-transitions();
	
	.overlay{
		background: #000;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 50;
		@include mp-ieopacity(50);
	}

	#lightbox-content{
		background: $bgColor;
		width: 93%;
		margin: 0;
		padding: 1em;
		position: fixed;
		top: 10%;
		left: 3.5%;
		z-index: 55;
		
		.close{
			font: 0.95em PTSansBold, arial, sans-serif; 
			color: white; 
			margin: -11px -8px 0 0;
			padding: 4px 7px; 
			float: right; 
			margin-right: -1.9em; 
			margin-top: -1.75em;
			border: none;
			outline:none;
			@include border-radius(25px);
			@include mp-gradient($catBg, rgba($catBg, 0.65), 0%, 80%);
		}

		@include respond-to(admin2){
			width: 17%;
			min-width: 30em;
			left:10%;
			right:10%;
			margin: 0 auto;
		}
	}

	&.lightbox-shown{
		visibility: visible;
		@include mp-ieopacity(100);
	}

	.featured-section{
		.featured-image{
			@include respond-to(admin2){
				width: 35%;
			}
		}

		.featured-info{
			@include respond-to(bp1_5){
				width: 66%;
			}

			@include respond-to(admin2){
				width: 62%;
			}
		}	

		footer{
			@include respond-to(admin2){
				width: 63%;
			}
		}
	}

	.sidebar-articles{
		article{
			background: #f7f7f7;
			margin: 0.25em 0 0;
			
			.article-image,
			.article-image-prev{
				width: 25%;
				margin: 0.5em;
			}

			@include respond-to(bp1_5){
				width: 100%;
				float: none;
			}
		}
	}
}
