.sd-promo-other-sites-cont{
	padding: 0px !important; 
}
#header-cont{
	#my-sd-mini-header{
		height: 51px; 
		background-color: #555555;
		ul{
			max-width: 1050px;
			text-align: center;
			padding: 10px 5px;

			li{
				color: #e6a362;
				font: 1.25em OsloRegular, arial, sans-serif;
				padding: 0; 
				
				.spatula-image{
					padding: 0 8px; 
					display: none;
				    @include respond-to(bp3){
				    	 display: none;
				    }
				    @include respond-to(bp4){
				    	 display: inline;
				    }

				}

				.angles-image{
					padding: 0 7px 0 12px;
					display: none;
				    @include respond-to(bp3){
				    	 display: none;
				    }
				    @include respond-to(bp4){
				    	 display: inline;
				    }
				}

				.link-spacer-text{
					color: #8c8c8c;
					padding: 0 4px 0 5px;
				}

				&:after{
					content: '';
				}

				.larger-header-text{
					font-size: .95em;
				}

				p{
					margin: 0;
					line-height: inherit;
					color: #fff;

				}
				.yellow-header-text{
					color: #f9ae64;
				}
				a{
					color: #f9ae64;
					&:hover{
						color: #fff;
					}
				}
			}
			
		    @include respond-to(bp3){
		    	 padding: 23px 5px;
		    }
		    @include respond-to(bp4){
		    	 padding: 13px 5px 13px 8px;
		    }


		}

		#signed-in-nav{
			padding-top: 23px; 
			text-align: right;
			font-size: .9em;
			li{
				padding: 0 6px;
			}
		}
	}
}