#other-sites-cont{
	background: rgba($catBg, 0.7);
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	border-top: 1px solid #fff;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	@include mp-clearfix();
	display: none;

	ul{
		width:98%;
		max-width: 1030px;
		margin: 0 auto;
		padding: 0;
		position: relative;
		z-index: 5;
		list-style: none;
		text-align: right;
		@include mp-clearfix();

		li{
			color: darken(#fff, 0);
			font: 1em PTSansRegular, arial, sans-serif;
			text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.45);
			width: auto;
			margin: 0;
			padding: 0 0.5em;
			position: relative;
			display: inline-block;

			a{
				color: darken(#fff, 0);
				text-decoration: none;
				outline: none;
				@include mp-transitions();
				
				&:hover,
				&:focus{
					color: #fff;
				}
			}
		}

		li:after{
			content: '.';
			float: right;
			margin: -0.25em -0.5em 0 0.75em;
		}

		li:last-child:after{
			content: none;
		}

		li#site1{
			padding-left: 0;
		}
	}
	@include respond-to(bp3){
			display: block;
	}
}