#sidebar-search-cont{
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	overflow: hidden;
 	z-index:1;
 	top: 5em;
}

#maint-cont{
	width: 98%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	position: relative;
	background: $bgColor;
	box-shadow: 0 0 0 #FFFFFF;
    //overflow: hidden;
 	z-index:1;
 	top: 0;

 	
 	.bottom-content {
        clear: both;
	}

	.top-content {
	    margin: .9em 0.3em 0.3em;
	    @include respond-to(bp2){
	    	margin-top: 1em;
	    }
	    @include respond-to(bp3){
	    	margin-top:0;
	    }
	    @include respond-to(bp4){
	    	margin-top:0;
	    }	}

	
	.category-banner {
	    margin: 0;
	}









//	LEFT CONTENT

	.left-content{
		width: 100%;
		margin: 0 auto;
		padding: 0;
		position: relative;

		@include respond-to(bp3){
			width: 66.45%;
			margin: 0;
			float: left;
		}
	}

	.right-content{
		width: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		z-index:1;

		header{
			padding:0;
			//padding: 0 0.1em;
			//background: none;
			background: $catBg;

			span{
				position: absolute;
				left: 0;
				width: 13%;
				max-width: 2.6em;

			}

			h2{
				padding: 0.1em 0 0;
				//width: 100%;
				font: 1.2em OswaldRegular,arial,sans-serif;
				//border-bottom: 1px solid #ddd;
			}
		}

		section{
			clear: both;
    		overflow: hidden;
    		&:first-child{
    			margin: 0 0 18px 0;
    		}
		}













//	RIGHT CONTENT
		@include respond-to(bp3){
			width: 31.3%;
			margin: 0;
			float: right;
		}
	}

	header{
		background: $catBg;
		width: 100%;
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 15;
		display:table;
		
		h2{
			//color: $catBg;
			color: #fff;
			font: 1.2em OsloBold, arial, sans-serif;
			text-transform: uppercase;
			width: 100%;
			margin: 0;
			//padding: 0;
			position: relative;
			text-align:left;
			//display:table-cell;
			//height: 28px;
			//vertical-align: middle;
			margin: 0 2.5em;
			padding: 0.4em 0 !important;

			span:after{
				content: '>';
				font: 1.5em ModernPics;
				margin: 0 0 0 0.25em;
				padding: 0;
				position:  relative;
				top: 1px;
			}
		}

		h2.shown span:after{
			content: '/';
		}

		ul{
			background: $sectionHeaderColor;
			width: auto;
			margin: 0;
			padding: 0 1em 0.5em;
			position: absolute;
			top: 100%;
			left: 0;
			list-style: none;
			z-index: 20;
			@include border-corner-radius(bottom, left, 1em);
			@include border-corner-radius(bottom, right, 1em);
			display: none;

			li{
				color: #000;
				font: 1em OsloRegular, arial, sans-serif;
				margin: 0 0 0.25em;
				padding: 0;
				position: relative;

				a{
					color: #000;
					text-decoration: none;

					&:hover,
					&:focus{
						text-decoration: underline;
					}
				}

				&:hover,
				&:focus{
					text-decoration: underline;
				}
			}

			li.current,
			li.current a{
				text-decoration: underline;
			}
		}

		#right{
			background: darken($sectionHeaderColor, 15%);
			width: auto;
			height: 100%;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
			right: 0;
			@include border-corner-radius(top, right, 1em);
			@include mp-transitions();

			p{
				width: auto;
				color: #000;
				font: 1em OsloRegular, arial, sans-serif;
				margin: 0.65em 0 0;
				padding: 0 3em;
				position: relative;
				@include mp-transitions();

				a{
					color: #000;
					text-decoration: none;
					@include mp-transitions();
				}
			}

			&:hover,
			&:focus{
				background: darken($sectionHeaderColor, 35%);

				p{
					color: #fff;

					a{
						color: #fff;
					}
				}
			}
		}
	}

	.rating{
		@include mp-clearfix();

		.label{
			width: auto;
			float: left;
		}

		.star-cont{
			width: auto;
			margin: 0;
			position: relative;
			float: left;
			unicode-bidi: bidi-override;
			text-align: left;
			overflow: hidden;

			i {
			    font-size: 1.2em;
			}	
		}

		@include respond-to(bp1){
			width: 100%;
			margin: 0;
		}

		@include respond-to(bp3){
			margin: 0;
			width:25%;
		}
	}

	#fb-comments{
		width:100%;
		margin: 0 0 2em;
		padding: 0;
		position: relative;
		overflow: auto;
	}










//	maint-cont width
	@include respond-to(bp3){
		margin: 0.3em auto;
		padding: 1.3em;
		box-shadow: 1px 1px 5px #DDDDDD;
		width:100%;
		top:0;
	}
}

.without-top-banner{
	top:5em;

	.banner-content{
		padding: 0;
		margin: 0 0 1em !important;

		.ad_1050{
			border-top:1px solid #DDD;
			border-bottom:1px solid #DDD;
			border-left:none;
			border-right:none;
			padding: 2px 0;
		}
	}

	.top-content .left-content #slide-show-cont{
		border-top: none;
	}

	@include respond-to(bp3){
		top: 8em !important;
	}

}

.get-recipe{
		font: 1.1em OsloRegular, arial, sans-serif;
		text-transform: uppercase;
		float: left;
		margin:0;
		padding:0;
		width:auto;
		margin-top: 2%;

		a{
			color: $darkGray !important;
			//color: rgb(0, 144, 209) !important; 
			text-decoration:none;
			outline:none;
			cursor: pointer;
		}

	}

#loading{
	background: #fff;
	background: rgba(255, 255, 255, 0.85);
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
	display: none;

	img{
		width: 30px;
		position: relative;
		top: 50%;
		left: 50%;
		margin: -15px 0 0 -15px;
	}
}

#error-cont{
	width: 100%;
	min-height: 250px;
	margin: 0.5em auto 0;
	padding: 0;
	position: relative;
	h2{
		color: $catBg;
	    font: 1.8em OswaldRegular,arial,sans-serif;
	    margin: 0 0 0.5em;
	    text-transform: uppercase;
	}
	p{
		width: 100%;
		color: black;
		font: 1.2em OsloRegular, arial, sans-serif;
		margin: 0.5em auto 0;
		padding: 0;
		position: relative;

		a{
			color: black;
			font: italic 1.2em OsloRegular, arial, sans-serif;
		}
	}
}

p{
	font: 1em OsloRegular,arial,sans-serif;
    margin: 0.5em auto;
    padding: 0;
    position: relative;
    width: 100%;
    line-height: 1.3em;
}

#breadcrumb {
    margin: 4% 0;
    position: relative;
    width: 100%;

    div {
	    position: relative;
	    width: 100%;

	    a {
		    color: #0090D1 !important;
		    cursor: pointer;
		    font: 1.2em OsloRegular,arial,sans-serif;
		    text-decoration: none;
    		text-transform: capitalize;
    		outline:none;

		    &:after{
		    	content: ">";
   				margin: 0 0.5em;
		    }

		    &:last-child:after {
			    content: "";
			}
		}
	}

	@include respond-to(bp1){
		 margin: 2% 0;
	}
}

.facebook-comments-box{
	background: none repeat scroll 0 0 rgba(190, 190, 190, 0.2);
	margin-top:4%;
	h2 {
	    color: #707070;
	    font: 1.3em OsloBold,arial,sans-serif;
	    margin: 0;
	    padding: 0.5em 0.5em 0.1em;
	}
}

.static-pages-fb{
	margin-top: 3em;
}

#fb-comments{
	background: none !important;
    margin: 0.5em 0 0;
    overflow: auto;
    position: relative;
    width: 100%;

    h2{
    	color: #707070;
    	font:1.3em OsloBold, arial, sans-serif;
    	maring:0;
    	padding: 0.7em 0.7em 0;
    }
}

#video-icon-span{
	display:none;

	img {
	    min-height: 0 !important;
	    width: 15% !important;
	}

	&.has-video {
		display:none;
	    margin-top: -12.6%;
	    position: relative;
	    text-align: right;

	    @include respond-to(bp2){
	    	display:block;
	    }
	}	
}


.icon-search{
	cursor:pointer;

	&:hover,
	&:focus{
	    color: $catBg;
	}
}

.icon-folder-open-alt {
    font-size: 1.2em;
    margin-right: 5%;
}

.icon-star {
    color: $catBg;
}

.icon-star.empty {
    color: #999999;
}

.icon-star-half-empty {
    color: #6CA32C;
}

.icon-facebook-sign {
	color: #3B5998;
}

.icon-pinterest-sign {
    color: #CA2026;
}

.icon-twitter-sign {
    color: #00ACED;
}

.icon-external-link {
    font-size: 1.5em !important;
}

.icon-envelope-alt{
	color: #000;
}

.icon-google-plus-sign {
    color: #D3492C;
}

.icon-comment-alt{
	color: #3388cc;
}
.clean-float {
    float: none !important;
}

.error{
	color:red;
}

#search-cont, #search-cont-ph{
	clear: both;
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	z-index:999;
	display:none;
	background: none;
	box-shadow: none;
	top:4.5em;
	
	#search-header-cont, #search-footer-cont{
		width:100%;
		position: relative;
		float:none;

		form{
			width: 100%;
			margin: 0;
			padding: 1% 0 2%;
			position: relative;
			text-align: center;
			
			.focus-bg{
				background: white !important;
			}

			#search-bg{
				background: #fff;
				width: 100%;
				border: 1px solid $borderColor;
				padding: 0;
				position: relative;
				@include mp-transitions();
				@include mp-clearfix();

				input{
					background: none;
					color: $headerLinkColor;
					font: 1.5em/1em OsloRegular,arial,sans-serif;
					width: 80%;
					margin: 0;
					padding: 0.4em;
					border: none;
					float: left;
					@include mp-transitions();

					@include respond-to(bp3){
						padding: 0.6em 0.5em 0.4em;
					}
				}

				input:focus{
					outline: none;
					color: $headerLinkColorHover;
				}

				input:focus ~ span{
					color: $headerLinkColorHover;
				}

				.icon-search {
				    color: #999999;
				    float: left;
				    font-size: 2.5em;
				    margin: 2%;

				    @include respond-to(bp3){
				    	margin:1%;
				    	font-size:2.4em;
				    }
				}

				@include respond-to(bp3){
					 width:76%;
					 float:left;
				}
			}

			#search-button {

				display:none;
				
				@include respond-to(bp3){
					display:block;
					background: $orangeColor;
				    border: none;
				    color: white;
				    float: right;
				    font: 1.5em OsloLight,arial,sans-serif;
				    padding: 0.6em 0.5em 0.5em 0.4em;
				    width: 22%;
				}
			   
			}

			@include respond-to(bp3){
				float: left;
				padding: 0.5%;
			}
		}
		@include respond-to(bp3){
			padding: 0;
    		position: relative;
    		right: 0;
    		width: 100%;
		}
	}
	@include respond-to(bp1){
		top:6em;
	}
	@include respond-to(bp3){
		display:none;
		background-image: url("http://images.spaghettimob.com/articlesites/simpledish/simple_dish_search_background.jpg");
    	padding: 0.3em 0.5em 0.2em;
    	position: absolute;
    	width: 100%;
    	margin: 0 auto;
    	z-index: 999;
    	top: 6.4em;
    	border-bottom: 2px solid rgba(255, 255, 255, 0.5);
	}
}

.banner-content {
	    clear: both;
	    //margin: 3% 0;
	    margin: 8em auto 0;
    	padding: 0.4em 0 0  0;
    	max-width: 1150px;
    	display:none;

    	@include respond-to(bp3){
    		display:block;
    	}
	}
.banner-content.banner-content-bottom {
	margin: 0 auto;
	padding: 0;
}
.secondary-banner {
    margin: 0 !important;
}


.preview-close{
	cursor:pointer;
}

.trc_related_container.trc_spotlight_widget{
	margin: 1.3em 0;
    overflow: hidden;
    padding: 1.2em 0 0;
}

.trc_inner_header.trc_header_left_column{
	font: 1em Oswaldregular,arial,sans-serif;
	color: #000;
}

.trc_rbox_div{
	margin: 0 !important;
}

.trc_rbox.trc-auto-size{
	height: auto !important;
}
.trc_elastic .thumbs-1r-bmc .video-label-box{
	height: auto !important;
}

.video-label.video-title{
	font: 1.2em OsloRegular,arial,sans-serif !important;
}

#buble-comments{
	top:-3px;
}

.reklame-font{
    font-family: Reklame, OsloRegular, arial, sans-serif;
    font-size: 1.8em;
    margin-right: 0.2em;
    text-transform: capitalize;

    &:after{
    	content: "" !important;
    	margin: 0 !important;
    }
}

#article-email .email-recipe-link .icon-envelope-alt{
	color: #E26C15;
}

.squares{
	background: #3E8F2B;
	border:none;
	padding: 0;
	width: 90%;
}