#slide-show-cont{
	padding: 3% 0 2% 0;
	//border-top: 1px solid $borderColor;

	h1{
		color: $catBg;
    	font: 2.8em OswaldRegular,arial,sans-serif;
    	margin: 0;
    	padding: 0;
    	width: 100%;
    	float:left;
	}

	#slide-show{
		margin:0;
		padding: 2% 0 0;
		position:relative;
		clear: both;
		z-index:2;

		#slider{
		    margin: 0 auto;
		    padding: 0;
		    position: relative;
		    width:100%;

			.flex-direction-nav {
			    display: block;

			    @include respond-to(bp2){
			    	display:none;
			    }
			}

		    img{
		    	width:100%;
		    	max-width: 100%;
		    	margin: 0;
		    }

		    .no-js .slides > li:first-child {
		    	display: block;
		    }

		    .slides{
				float: left;
    			margin: 0;
    			padding: 0;
    			
    			li {
    				@include mp-backface();
    				position:relative;
    				
    				@include respond-to(bp3){
    					margin: 0 0.1em;
    				}
    			}

			    .slide{
					 list-style: none outside none;
					 
					.left {
					    width: 80%;
					    margin: 0 auto;
					    background: rgba(#000, 0.85);
					    min-width:80%;
					    float:none;

					    a{
					    	outline:none;
					    }

					    @include respond-to(bp2){
					    	width: 44%;
					    	float: left;
					    	margin-right: 3%;
					    	background: none;
					    	min-width: 26em;
					    	max-width: 27em;
					    }

					    @include respond-to(bp3){
					    	width: 49%;
					    	float: left;
					    	margin-right: 3%;
					    	background: none;
					    	min-width: 26em;
					    	max-width: 27em;
					    }
					}

					.right {

						width: 100%;
						float: left;
					    
					    .pager {
						    
						    padding-top: 0;
						    padding-bottom: 0;
							text-align: center;

						    @include respond-to(bp2){
						    	margin-bottom: 10%;
								text-align: left;
						    }
						}

					    h2 {
						    font: 2.5em OsloRegular,arial,sans-serif;
						    margin: 0;
						    padding: 0;
						    position: relative;
						    color: #000000;

						    a{
						    	outline: none;
						    	color: #000000;
						    }

						    @include respond-to(bp2){
						    	font: 2em OsloRegular,arial,sans-serif;
						    }
						}

						p{
							font-size: 1.2em;
						}

						@include respond-to(bp2){
							width: 46%;
							padding: 5% 0;
						}
					}
				}
			}

			@include respond-to(bp3){
				max-height: 27em;
			}
			@include respond-to(bp4){
				max-height: 28em;

			}
		}
		#carousel{
			width: 100%;
			margin: 1em auto 0;
		
			.flex-direction-nav {
			   top: -4.5em;
   			   left: 0;
   			   position: relative;
   			   display:none;
   			   margin-bottom: 0;

   			   @include respond-to(bp2){
   			   	display:block;
   			   	margin-bottom: 2em;
   			   }
			}
			
			.flex-viewport {
			    margin: 0 auto;
			   width: 93%;
			}
			
			.thumbs {
			    margin-top: 4em;
			    width: 100%;
			    text-align: center;
			    display:none;
			 
			    li{
			    	list-style: none outside none;
	 				margin: 0 0.5em;
	 				position: relative;
	 				@include mp-backface();
	 				width: 110px !important;

	 							
	 				 img{
				        width: 100%;
				    }
			    
					&.flex-active-slide img {
				    	border: 0.5em solid #6CA32C;
					}
				}

				@include respond-to(bp2){
					display:block;
					float: left;
				    margin: 0;
				    padding: 0;
				}
			}
		}

		/*pager links*/
		.bx-pager{
			text-align:center;
			padding-top: 7px;
			font-size:12px;
			color:#666;

			 a {
				margin-right: 5px;
				color: #fff;
				padding: 3px 8px 3px 6px;
				font-size: 12px;
				zoom:1;
				background: url(gray_pager.png) no-repeat 0 -20px;

				&:hover{
					background-position: 0 0;
				}
			}

			&.pager-active{
				background-position: 0 0;
			}
		}

		/*auto start button*/
		.bx-auto{
			text-align: center;
			padding-top: 15px;

			.start {
				background: url(gray_auto.png) no-repeat 0 2px;
				padding-left: 13px;
			}

			.stop {
				background: url(gray_auto.png) no-repeat 0 -14px;
				padding-left: 13px;
			}

			a {
				color: #666;
				font-size: 12px;
			}
		}

		.bx-captions {
			text-align:center;
			font-size: 12px;
			padding: 7px 0;
			color: #666;
		}
	}

}

#slide-show-cont.article-slider{
		border:none;
		padding:0;

		#article-slider{

			ul{
				margin: 0 auto;
			    padding: 0;
			    width: 100%;
				
				li{
					list-style:  none;
				
					img{
						padding: 1px;
						width:100%;
					}
				}
			}
		}
		
		.control-slider-nav {
		    clear: both;
		    width:100%;
		    position:relative;
		    padding-top:1em;

		    span{

		    	p{
		    		font: 1.5em OsloBold,arial,sans-serif;
		    		margin:0;
		    		padding:0;
		    		text-transform:uppercase;
		    	}

		    	&.left{
		    		float:left;
		    	}

		    	&.right{
		    		float:right;
		    		text-align:right;
		    	}

		    	.icon-chevron-sign-right, 
		    	.icon-remove-sign{
		    		margin-left: 0.5em;
		    		cursor: pointer;
		    	}

		    	.icon-chevron-sign-left{
		    		cursor: pointer;
		    		margin-right: 0.5em;
		    	}
		    }
		}

		.flex-next, .flex-prev{ display: none; }

	}


.right-prev-arrow, .right-next-arrow {
    color: #000000;
    outline: medium none;
    text-decoration: none;

    &:hover, &:focus{
    	color: #000000;
    	outline:none;
    	text-decoration: none;
    	cursor:pointer;
    }
}

.arrows {
	background: none repeat scroll 0 0 orange;
	color: #FFFFFF;
	float: left;
	margin-top: 0.5em;
	padding: 1%;
	width: 4%;
	cursor:pointer;

	i {
	   display: table-cell;
	   font-size: 2.5em;
	   height: 2.7em;
	   vertical-align: middle;
	   color: #FFFFFF;

	   &:hover, &:focus{
    	color: #FFFFFF;
    	outline:none;
    	text-decoration: none;
	   }
	}
}


.flex-direction-nav {

	li {
	    list-style: none outside none;
	}

	a {
	    background: url("http://images.simpledish.com/articlesites/sharedimages/bg_direction_nav.png") no-repeat scroll 0 0 transparent;
	    cursor: pointer;
	    display: block;
	    height: 30px;
	    margin: -20px 0 0;
	    opacity: 0;
	    position: absolute;
	    text-indent: -9999px;
	    top: 30%;
	    width: 30px;
	    outline:none;

	    @include respond-to(bp1){
	    	top:40%;
	    }
	}
	
	.flex-next {
		background-position: 100% 0;
	  	opacity:1;	
	  	right: 1px;

	  	@include respond-to(bp1){
			right: 10px;
		}

		@include respond-to(bp2){
			right: 0;
		}
	    
	}

	.flex-prev {
		left:1px;
		opacity:1;

		@include respond-to(bp1){
			left: 10px;
		}

		@include respond-to(bp2){
			left: 0;
		}
			
	}
}











