$bgColor: #ffffff;

@import "normalize";
@import "settings";
@import "fontawesome/font-awesome";
@import "fonts";
// Or selectively include components
@import
"foundation/components/accordion",
"foundation/components/buttons",
"foundation/components/clearing",
"foundation/components/flex-video",
"foundation/components/forms",
"foundation/components/grid",
"foundation/components/inline-lists",
"foundation/components/orbit",
"foundation/components/pagination",
"foundation/components/panels",
"foundation/components/side-nav",
"foundation/components/top-bar",
"foundation/components/type",
"foundation/components/offcanvas",
"foundation/components/visibility",
"foundation/components/dropdown",
"foundation/components/dropdown-buttons",
"foundation/components/tooltips",
"foundation/components/labels",
"foundation/components/tables",
"foundation/components/tooltips";
// Custom variables


$topbar-megamenu-bg-color: #fff;
$logo-width: rem-calc(175);
$logo-height: rem-calc(48);

$main-color: #6ad98a;
$text-type-color: #01b88a;
$header-padding: rem-calc(8);
$header-color: #fff;
$header-font-color: #222;

$fade-in-out-transition-time: 0.3s;
$image-contrast-hover-percent: 115%;
$image-darken-hover-percent: 15%;
$shadow-color: $header-color;

$twitter-color: #55acee;
$facebook-color: #3b5998;
$google-plus-color: #dd4b39;
$pinterest-color: #c8232c;
$stumbleupon-color: #f74425;
$social-hover-darken-percent: -25%;
#top-banner {height: 2rem;}

*::-moz-selection{ color: #222; }

// Helpers / Hover Effects
/**********************************************************************************************************************************/

.vertical-center {
	display: table;
}

.vertical-center * {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

//Padding
/**********************************************************************************************************************************/

.padding-top {
	padding-top: ($panel-padding/2);
}
.half-padding {
	padding-left: ($panel-padding/2);
	padding-right: ($panel-padding/2);
}
.half-padding-left {
	padding-left: ($panel-padding/2);
}
.half-padding-right {
	padding-right: ($panel-padding/2);
}
.no-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.no-padding-left{
	padding-left: 0 !important;
}

.no-padding-right{
	padding-right: 0 !important;
}

.no-padding-mobile {
	padding: 0 !important;
} 

/*Margin Helper*/
/**********************************************************************************************************************************/

.half-margin {
	margin-left : -($panel-padding/2) !important;
	margin-right: -($panel-padding/2) !important;
}
.no-margin {
	margin-left: 0;
	margin-right: 0;
}

.no-margin-mobile {
	margin:0 !important;
}

.bold{ font-weight: bold;}

//Align
/**********************************************************************************************************************************/

.align-right{
	text-align: right;
}
.align-left{
	text-align: left !important;
}

.inline{display:inline;}


//Floats & Clears
/**********************************************************************************************************************************/

.clear{
	clear:both;
}

//Animations 
/**********************************************************************************************************************************/

.fade-in-out {
	-webkit-transition: all $fade-in-out-transition-time ease-in-out;
	-moz-transition: all $fade-in-out-transition-time ease-in-out;
	-o-transition: all $fade-in-out-transition-time ease-in-out;
	transition: all $fade-in-out-transition-time ease-in-out;
}
.shadow {
  -moz-box-shadow:    0 rem-calc(1) rem-calc(5) rem-calc(1) $shadow-color;
  -webkit-box-shadow: 0 rem-calc(1) rem-calc(5) rem-calc(1) $shadow-color;
  box-shadow:         0 rem-calc(1) rem-calc(5) rem-calc(1) $shadow-color;
}
.translate-fix {
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
img.contrast:hover {
	filter: contrast($image-contrast-hover-percent);
	-webkit-filter: contrast($image-contrast-hover-percent);
	-moz-filter: contrast($image-contrast-hover-percent);
	-o-filter: contrast($image-contrast-hover-percent);
	-ms-filter: contrast($image-contrast-hover-percent);
}
img.darken-border:hover {
	-moz-box-shadow:    0 rem-calc(1) rem-calc(5) rem-calc(1) darken($shadow-color, $image-darken-hover-percent);
	-webkit-box-shadow: 0 rem-calc(1) rem-calc(5) rem-calc(1) darken($shadow-color, $image-darken-hover-percent);
	box-shadow:         0 rem-calc(1) rem-calc(5) rem-calc(1) darken($shadow-color, $image-darken-hover-percent);
}

.fixed-content{
	position:fixed; 
	z-index: 99;
}

.border-radius{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.border-radius-2x{
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.center{
	text-align: center;
}
html {
	 min-height: 100%;
     overflow: -moz-scrollbars-vertical;
     overflow: scroll;
}
.row {position: relative;}
small {font-family: $header-font-family;}
h5, h6 {font-family: $body-font-family;}
i {margin-left: 5px; margin-right: 5px;}

a{ outer: none; }
.panel{ border: none;}

#main-cont{ margin-top: 2%; margin-bottom: 0; min-height: 50rem; max-width: 62.5rem; padding:0}

@media #{$large-up} {
	left:0rem;

}
// Header / Navbar / TopBar
/**********************************************************************************************************************************/

header {
	//background-color: $header-color;
	//padding-top: $header-padding;
	//padding-bottom: $header-padding;
	font-family: $header-font-family;
	//color: $header-font-color;
	//display: block;
}

#header-social .fa-twitter:hover, .fa-twitter-square:hover {color: $twitter-color;}
#header-social .fa-facebook:hover, .fa-facebook-square:hover {color: $facebook-color;}
#header-social .fa-google-plus:hover, .fa-google-plus-square:hover {color: $google-plus-color;}
#header-social .fa-pinterest:hover, .fa-pinterest-square:hover {color: $pinterest-color;}
#header-social i {color: #fff;}

#header-login {font-family: $body-font-family; text-align: right;}

/*NAV BAR*/
#nav-bar {
		-moz-box-shadow:    0px 0px 4px 1px  #bbb;
		-webkit-box-shadow: 0px 0px 4px 1px #bbb;
  		box-shadow:         0px 0px 4px 1px #bbb; 
  		margin-bottom: ($panel-padding/2); 
  		z-index: 9999999;
  		border-bottom: 1px solid #bbb;
  		background-color: #e1ddde !important;
}


//VERTICAL LEFT MENU
.main-header {
  text-align: left;
  background: none repeat scroll 0 0 white;
  border-bottom: 3px solid #dddddd;
  float: left;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sub-menu { margin-top: 4rem; border-bottom: 1px solid #ddd; display:inline-block;}
.sub-menu label{ padding-left: 0.8rem; background: #01b88a; color: #fff; font-size: 1.3rem; width: 6rem; float: left; position: relative; padding-top: 0.2rem;}
.sub-menu label .fa-caret-left{ font-size: 2rem; top: 0; position: relative !important; right: 0 !important; margin-right: 0; float:right;}
.sub-menu h1{ font-size: 1.3rem; margin-left: 1rem; text-transform: uppercase; padding-top: 0.1rem; margin-bottom: 0 !important;}

.top-bar{height: 3rem;}
.top-bar-section ul { margin-top: 1.45rem; }

/*Styling by Pages*/
//Generic
button.expand, .button.expand{ background: #01b88a; font-size: 1.2rem; text-transform: uppercase; padding: 0.5rem;}
label{ font-size: 1.1rem;}
#bottom-link a { color: #0099FF;}
button, .button{ background: #000; }
#content{ min-height: 100%; margin-top: 6% !important;}
#topbar-search-submit{ margin-top: 0 !important; width: 2rem !important;}
a.videos{display:none;}
//Menu
#nav-cont{ width: 15rem; height: auto; position: absolute; left: -16rem; z-index: 1; background: #ddd; top: 0rem; padding-top: 0 !important;}
#nav-cont nav { width: 15rem; height: auto; margin: 0; background: #ddd; }
#nav-cont nav ul { width: 100%; margin: 0; padding: 0; position: relative; list-style: none; }
#nav-cont nav ul li, #nav-cont nav ul h2 { color: #222; font: 1.2rem Oslo,arial,sans-serif; width: 100%; margin: 0; padding: 0.5em 1rem; position: relative; text-transform: capitalize; -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; cursor: pointer;}
#nav-cont nav ul li:after{ border-bottom: 1px solid #bbb; box-shadow: 0px 0px 1px #fff; bottom: 0;content: " ";height: 1px; left: 0; position: absolute; width: 100%; z-index: 0;}
#nav-cont nav ul .parent:before{content: '>'; float: right; margin: 0.1em 1em 0 0; font: 1.3em/1em ModernPics; color: #DDD;}
#nav-cont nav ul ul.shown{display: block; margin-bottom: 0.3em;}
#nav-cont nav ul ul{background: #aaa;}
#nav-cont nav ul ul li:after{border-bottom: 1px solid #666; box-shadow: none;}
.empty-li { height: 3.5rem; }
#nav-cont nav ul li.shown:before{content: "-" !important;} 
#nav-cont nav ul ul li a{margin-left: 0.5em;}


@media #{$large-up} {
	#nav-cont nav ul .parent:before{ content: '/'; margin: 0 5px 0 0;}
	#nav-cont nav ul h2{display:none;}
	#nav-cont nav ul li a, #nav-cont nav ul h2 a{padding: 0.6em; color: inherit; text-decoration: none;}
	#nav-cont nav ul li, #nav-cont nav ul h2{background:none;}
	#nav-cont nav ul ul li{border: none; font-size: 1em;}
	#nav-cont{ width: 15rem; height: 100%; position: absolute; left: 0; z-index: 1; background: #ddd; top: 1rem; bottom: -0.5rem; padding-top: 0 !important;}
	.sub-menu { display:none;}
	.top-bar{height: 4.0625rem;}
	#content{ margin-top: 0 !important;}
}

@media #{$xlarge-up} {
	a.videos{display:inline;}
}

#nav-cont nav ul li.current { background: #bbb !important; padding: 1.2rem !important;}
#nav-cont nav ul li .fa-caret-left{ display:none;}
#nav-cont nav ul li.current .fa-caret-left{ right: -8px; position: absolute; font-size: 3.5rem; top: 3px; color: #fff; display:inline; }
#nav-cont nav ul li a, #nav-cont nav ul h2 a { padding: 0.6em; color: inherit; text-decoration: none; }



//Content
#main-cont #content { width: 100%; margin: 0 auto; padding-left: 0rem; }
#main-cont #content h1{ text-transform: uppercase; font-weight: bold;}
.active_submenu{left:16rem;}

@media #{$large-up} {
	#main-cont #content { width: 100%; margin: 0 auto; padding-left: 16.2rem; top: 0.5rem;}
	#article-info, #articles{ border: 1px solid #ddd; }
}
.panel>:first-child{ margin-top: auto; }
.admin-box{ margin: 4rem auto !important;}
@media #{$large-up} {
	.admin-box{ margin: 5% auto !important;}
}

//SEARCH FORM
.search-form-admin{ display:inline-block; margin-top: 0;}
#searchemailinput{ width: 66.66%; padding: 1.3rem; font-size: 1rem; text-transform: uppercase;  margin-bottom: 0;}
#searchsubmit{ padding: 0.8rem; margin-bottom: 0;}

//SORT BY BAR
#main-cont section .section-bar #right #sort-by ul{ list-style: none outside none; margin: 0; padding: 0; width: auto; padding-top: 0.3rem;}
#main-cont section .section-bar #right #sort-by ul li{ float: left; font: 1em OsloRegular,arial,sans-serif; margin: 0;
padding: 0 0 0 1em; position: relative; width: auto; }
.section-bar{margin-top: 1rem !important; overflow:hidden; 	max-width: 62.5rem; margin: 0 auto;	}
.section-bar h1{ margin-bottom: 0; color: #01b88a; text-transform: uppercase;} 
.section-bar .right p{ padding-right: 1rem;}
.section-bar .right p img{ width: 2rem;}
.section-bar .right p a{ margin-left: 1rem; text-decoration: underline;}
#sort-by label{ color: #777;}
#sort-by a {color: #0090D1; }

//ARTICLE LIST
//#articles-list .admin-article{ margin: 0 auto 0.5em; padding: 0 0 0.5em; border-bottom: 1px solid rgba(0, 0, 0, 0.15); float: left;}
//#articles-list .admin-article .article-image { width: 8em; min-width: 8em; max-width: 8em; float: left; mmargin: 0rem 0.5em 0 0; padding: 0.5rem; }
//#articles-list .admin-article .article-info { margin: 5% 0.2em 0 0; padding: 0; position: relative; }
//#articles-list .admin-article .article-info p{color: black; width: auto; font: 1.2em OsloRegular,arial,sans-serif;
//margin: 0 0 1em; padding: 0; position: relative; display: none; }
//#articles-list .admin-article .article-status{float: right; font: 0.8em OsloLight,arial,sans-serif !important; text-transform: uppercase;}
//#articles-list .admin-article .article-status .draft{color: #999;}
//#articles-list .admin-article .article-info h2{width: auto; font: 1.2em OsloRegular,arial,sans-serif; margin: 0 0 0.5em;
//padding: 0; position: relative;}
//#articles-list .admin-article .article-info h2 a{ color: #0090D1; text-decoration: none; outline: none; cursor: pointer; }
//form { width: 100%; margin: 0.5em auto 0; padding: 0; position: relative; }
//.manage-links { color: #999999 !important; cursor: pointer; margin: 0 3em 0 0; outline: medium none !important; }
.manage-links { outline: medium none !important; }
//.fa-times{ color: #FF0000;}
//#articles-list .admin-article .article-status .live { color: #27CE27; }

//NEW DESIGN ARTICLE LIST
#articles-list .article-image{ float:left; width: 4rem; margin-right: 0.5rem;}
#articles-list table{ border:none;}
#articles-list table thead tr { border-bottom: 2px solid #bbb;}
#articles-list table thead tr th{ font-size: 1.2rem; text-transform: uppercase; font-family: arial; padding-bottom: 0.2rem; text-align:center;}
#articles-list table tr { border-bottom: 2px solid #ddd;}
#articles-list table tr td { vertical-align: middle; padding: 0.4rem 0.5rem 0.4rem; text-align: center; font-size: 1rem;}
#articles-list table tr td:first-child, #articles-list table thead tr th:first-child{ text-align: left;}
#articles-list table tr td h2 { font-size: 1.2rem; padding: 0; margin-bottom: 0; margin-top: 0;}
#articles-list table tr td h2 a, #articles-list table tr th a{ color: #000; outline:none;}
.article-delete-form{ margin:0;}
.fa-times{ color: #FF0000; font-size: large;}
.from-other-sites-filter{ padding-top:2rem; padding-bottom: 1rem;} 


//PAGES
#pages {  width: 98%; margin: 0.1em auto 2%; padding: 0 0 2%;  position: relative; overflow: hidden; zoom: 1;
border-bottom: 1px solid #dddddd; }
#pages ul { width: 100%; margin: 0 auto 0; padding: 0; position: relative; list-style: none; text-align: right;
overflow: hidden; zoom: 1; }
#pages ul li { width: auto; color: #000; font: 1.2em OsloRegular, arial, sans-serif; margin: 0 0.125em; padding: 0.35em 0 0.25em; position: relative; display: inline-block;}
#pages ul li.current a, #pages ul li:hover a, #pages ul li:focus a{text-decoration: underline; color: #000;}
#pages ul li a{color: #000; text-decoration: none; outline: none; padding: 0.1em;}
@media #{$large-up} {
	#articles-list .admin-article .article-info p{ display:block;}
	#articles-list .admin-article .article-info h2{ text-align: left; }
	#pages{ width: 100%; text-align: right; margin: 0.5em auto; padding: 0; border-bottom: none;}
	#pages ul { text-align: right; display: inline; font-size: 0.925em; }
	#pages ul li { font: 1.3em OsloRegular, arial, sans-serif; }
}
#pages{margin-bottom: 0.5em !important;}

//NEW ARTICLE
form label span { color: red; font: 1.5em OsloRegular,arial,sans-serif; margin: 0; padding: 0; position: relative; top: 3px; }
.p-message { color: #999999; font: 0.8em OsloRegular,arial,sans-serif; margin: 0.7em; top:0; }
.checkbox-group-content { clear: both; float: left; margin:1em auto 0; width: 100%; padding-left: 2rem;}
.checkbox-group { width: auto; margin: 0.5em 0.5em 0.5em 0; padding: 0; position: relative; float: left;
width: auto; }
.checkbox-group label{ font-size: 0.9rem;}
.btn-wrapper{ text-align: right;}
.buttons-container{ text-align: center; padding-right: 0; }
.buttons-container button { padding: 0.5rem 0.5rem; }
input#article_title-s { padding: 1.3rem; font-size: 1.3rem; text-transform: capitalize; text-align: center; }
select#categories{background-color: #01b88a; color: #fff; font-size: 1.2rem; height: auto;}
.label-wrapper label{ font-size: 0.9rem; display:table-cell; height:2.2rem; vertical-align:middle;}

select{ background-color: #01b88a; color: #fff; font-size: 1.2rem;  font-family: Oslo; background-size: 1.3rem; background-image:url("http://www.puckermob.com/assets/img/Down-Arrow.png");}

#img-container{ margin-bottom: 1rem; background: #ddd; text-align: Center; padding: 6rem; }
#img-container label{ font-size: 1.4rem; }
input#upload, .b-upload { margin-bottom: 1rem; background: #eee; font-family: Oslo; border: 1px solid #bbb; color: #777; padding: 0.5rem 1.5rem; font-size: 1.2rem; }

.mini-fonts{ font-size: 0.8rem !important;}
.placeholder{position: absolute; left: 1rem; top: 5rem; padding: 0.5rem; font-size: 1.2rem; text-transform: initial; color: rgba(0, 0, 0, 0.75);}
.uppercase{ text-transform: uppercase;}

@media #{$large-up} {
	.buttons-container button {padding: 0.5rem 1rem; margin-bottom: 0.8rem;}
	.buttons-container{ text-align: right; padding-right: 1rem; padding-top: 0.4rem;}
	input#article_title-s { padding: 0.3rem; font-size: 1.8rem; text-transform: capitalize; text-align: center;}
}

select:hover{background-color:#01b88a; background-image:url("http://www.puckermob.com/assets/img/Down-Arrow.png");}

#top-shares select:hover{background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+") !important;}



//FORM SETTINGS
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea{
	font-size: 1.5rem;
	text-transform: capitalize;
	height:2.8rem;
	padding:0.35rem;
	text-align:center;
	border-color: #777;
}

//EDIT ARTICLE
.image-sec { background: #777; width: 95%; }
#article-inline-settings .image-steps { float: left; width: 40%; margin: 0em 2em 1em 1em; }
#article-inline-settings img { box-shadow: 0 0 8px rgba(50, 50, 50, 0.51); width: 100%; }
.section-bar p{ margin:10px 0 0 0;}
#add-an-image-fs{ margin-top: 1rem;}
#image-container span{display:none;}
#main-cont header{ background:none;}
#image-container span a { background: none repeat scroll 0 0 #FFFFFF; border: 1px solid #EEEEEE; color: #999999 !important; left: 6em; margin-top: 0; padding: 0.3em; position: absolute; text-align: center; top: 48%; width: 10em; -moz-border-radius: 5px; -webkit-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px; }
#contributor-images  div span a, #article-inline-settings  div span a{ color: #0090D1; font: 1.2em OsloRegular,arial,sans-serif; z-index: 1; }
#contributor-images  div span, #article-inline-settings  div span{margin: 0.8em 0 0.8em 0em; }
#image-container.shown span { display: inline !important; z-index: 10; }
.preview, .profile-preview, .notify{width: auto;color: #fc3300;font: 1em OsloRegular, arial, sans-serif;margin: 0.65em 0 0 0.5em;padding: 0;position: relative;float: left;cursor: pointer;}

form fieldset { width: 98%; margin: 0.5em auto; padding: 0;border: none; }
#article-tall-image-upload-form h2 { font: 1.2em OsloRegular,arial,sans-serif;margin: 0.5em;float: left;padding: 0;width: 100%;color: #6CA32C;}
#article-tall-image-upload-form .info label {float: left; clear: both;margin: 0 0.7em;min-width: 50px;text-align: left;width: auto;}
#article-tall-image-upload-form .info p { font: 0.925em/1.2em OsloRegular,arial,sans-serif;margin: 0.5em 0.7em;padding: 0;}
#article-tall-image-upload #article_post_tall_img { opacity: 0;-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";filter: alpha(opacity=0);cursor: pointer;float: left;height: 2em;top: 5px;width: 5em;z-index: 20;}
#article-tall-image-upload-form span.preview-close { cursor: pointer;}
form span.preview-close p {text-align: right;width: 100%;}
@media #{$large-up}{
	.checkbox-group { margin-top: 0.25em; width: 30%; }
}

//PAGELIST MULTI OAGE ARTICLES
#articles-list .admin-article { border-bottom: 1px solid rgba(0, 0, 0, 0.15); float: left; margin: 0 auto 0.5em; padding: 0 0 0.5em; position: relative; width: 100%; }
#articles-list .admin-article h2{ margin-top:1.5rem;}
#articles-list .page-list-inline { list-style: none outside none; }
#articles-list .page-list-inline li img { box-shadow: 4px 4px 5px #888888; height: 70px; margin: 0.3rem; }
#articles-list .page-list-inline li p { font-size: 0.8em; margin: 5px 0 !important; padding: 0;}
#articles-list p { width: 100%;}
#articles-list .manage-links { margin: 0 3em 0 0;  }
#articles-list .manage-lists{ text-align: right; }

//EDIT PAGE LIST
.list-li {    background: none repeat scroll 0 0 #eee;    border: 1px solid #ddd;    list-style: none outside none;}
#page-list-settings .delete-page-list-item{padding: 0;    position: absolute;    right: 0;    top: -8px; margin:0;}
#page-list-settings .delete-page-list-item button {   height: 23px;    padding: 1px;    width: 23px;}
form .gradient-button.red-gradient {background: -moz-linear-gradient(center top , #ff4000, #890000) repeat scroll 0 0 rgba(0, 0, 0, 0); color: #fef4e9;}
#page-list-settings .add-list-item {    background: none repeat scroll 0 0 #dedede;    cursor: pointer;    height: 553px;
    margin: 10px 0;    padding: 0 5px;    width: 96%;}
#page-list-settings .add-list-item {    height: auto;    width: 100%;}
#page-list-settings .add-list-item p.large-add-text {    color: #919191;    font-size: 7em;    line-height: 0.9em;    margin: 0;    text-align: center;    text-shadow: 1px 1px #ffffff;}
#page-list-settings .add-list-item p.large-add-text {    margin-top: 41px;    padding: 20px;}
#page-list-item-data-add-form {    display: none;    padding-top: 20px; }

//LABELS ALERT, ERROR, SUCCESS, WARNING
.label.alert{background: rgba(240,138,36,0.5); color: #fff; padding: 1rem; font-size: 1rem; }
.label.success{ background: rgba(51, 204, 0, 0.6); padding: 1rem; font-size: 1rem;}
#articles-list .page-list-inline li { display: inline-block; text-align: center; padding:0.3rem;}
//LIGHTBOX
@import "admin/_lightbox";

//CONTRIBUTORS
#profile-inline-settings #add-an-image-fs{background: #eee;}
#profile-inline-settings .image-sec{ width: auto; float:left;}
#profile-inline-settings .image-steps { float: left; width: 143px; padding:0; margin: 0.2rem 2em 0rem 1em; }
#profile-inline-settings #image-container span a{ left: 25px; top: 60px; width: 6rem;}
#profile-inline-settings #image-container.shown img{opacity:0.4;}
#profile-inline-settings .image-button-header{ width:60%;}
#profile-inline-settings #rules { padding-top: 1rem;}
#profile-inline-settings #rules span{ font-size: 1.2rem;}

//CONTRIBUTORS LIST
.admin-contributor .contributor-info{ padding: 1rem 0; }
.admin-contributor .contributor-info h2 a{ color: #222; }

//DASHBOARD
#dashboard{ margin-top:5%;}
#dashboard h2{ font-weight: bold; margin-bottom: 5rem;}
#dashboard table{ background: #fff; border:none;}
#dashboard table thead{background: #fff;}
#dashboard table th{ text-align: center; font-size:1.05rem; font-weight: normal; min-width: 7rem;}
#dashboard table tr{ background: none; border-bottom: 1px solid #aaa;}
#dashboard table tr.total { border-bottom:  none;}
#dashboard table tr.total td{text-align: center; font-size: 1.2rem; padding-top:3rem;}
#dashboard table tr.total td:first-child{ text-align: left; }
#dashboard table tr.total td:last-child{ text-align:center;}
#dashboard table td{ min-width: 7rem; text-align:center;}
#dashboard table td.article{ text-align:left;}
#dashboard table tr.even, #dashboard table tr.alt, #dashboard table tr:nth-of-type(even){ background: none;}

#month-form{display:inline;}
#month-form select{width:12rem;text-transform:capitalize;text-align:center;font-size:1rem;}
.close{ background: #000; right: -0.5rem; top: -0.5rem;}
.close:hover{ color: #fff;}
#popup-content div{  background: #fff; padding: 1rem; -web-kit-border-radius: 5px; -moz-border-radius:5px; border-radius: 5px;}
.input-error{ background: rgba(255, 0, 0, 0.5); border-color: rgba(255, 0, 0, 0.8);}
/*select:hover{background: #01b88a !important; color:#fff; }*/
select{background-position: 96% center;}
#nav-cont{bottom:0 !important;}
#main-cont #content{ top: 0 !important;}
#article-info, #articles{border:none !important;}
.section-bar .right p img{width:1.5rem;}
#month-form {display: inline-block;  margin-left: -1.4rem; padding: 0.5rem;}
#month-form select{ text-transform: capitalize; border:none; height: 1.95rem; margin: 0; position: Relative; top: 0.2rem;  padding-left: 1.5rem; text-align:left; /*background-size: 1rem; background-position: 120% center;*/ background-position: 70% 60%;}

.dd-month{display:inline-block; text-transform:uppercase;}
.dd-month label{ display: inline-block; background: #747371; color: #fff;  font-size: 1rem; padding: 0.22rem 1rem; position: relative; top: -0.9rem;}
#img-container{padding:0;}
#topbar-container-admin{ margin-top: -0.34rem; }

footer{clear:both;}
select {background-position: 76% 60%;}
#topbar-container-admin div p{display: inline-block; position: relative; margin: 0;}
#topbar-container-admin div p img{ width: 1.5rem; margin: 0 1.5rem 0 1rem; }
#topbar-container-admin div p a{ color: #fff; text-transform: uppercase; position: Relative; top: 0.15rem;}

/*WELCOME PAGE*/
#warning-box{ background: rgba(172, 64, 64, 0.8);-webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius:5px; border-radius: 5px; padding: 1rem; overflow:hidden;}
#warning-box > p{margin:0;}
.warning-box .fa-exclamation-triangle{ color: #fff; }
.warning-box  .p-cont{margin-top: 0.8rem; float:left}
.warning-box  .p-cont p{ margin: 0; color: #fff; overflow: hidden; margin-bottom: 0.5rem;}
.warning-box  .p-cont p a{ color: #fff; text-decoration: underline; }
.warning-box  .p-cont a{ color: #fff; text-decoration: underline; }

#announcements{ background: #BFE2DB;  margin-top:0.5rem;  -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius:5px; border-radius: 5px; padding: 1rem; overflow:hidden;}
#announcements-box  > p{margin:0;}
.announcements-box  .fa-comments{ color: #777; }
.announcements-box   .p-cont p{ margin: 0; color: #777; overflow: hidden; margin-bottom: 0.5rem;}
.announcements-box   .p-cont p a{ color: #777; text-decoration: underline; }
.announcements-box   .p-cont a{ color: #777; text-decoration: underline; }

.top-shared-articles { width: 96% !important; padding-top:0.5rem;}
.buttons-container.dashboard {display: inline-block; text-align: left !important; margin-top: 1.5rem  !important ; margin-bottom: 1.5rem  !important;}
select#recent-articles{margin-bottom: 0; border: none; font-size: 1.3rem; text-transform: uppercase; }
.a-buttons { background: #01b88a; padding: 0.4rem 1.2rem; color: #fff; text-transform: uppercase; margin: 0; position: relative; font-size: 1.3rem; top: -2px; margin-left: 0.5rem; }
.a-buttons:hover{ color:#fff;}
#top-shares{ border-right: 1px solid #bbb; padding-top: 1rem; padding-right: 0; width: 63%; margin-right: 1rem;}
#top-shares h2{ text-transform: uppercase; color: #777; margin-bottom: 1.3rem; font-size: 1.8rem;}
#top-shares  p{ margin-bottom: 0.5rem;}
#top-shares  ol{margin-bottom: 0rem !important;}
#top-shares  ol li{ margin-bottom: 0.9rem; border-bottom: 1px solid #ddd; }
#top-shares  ol li p{margin:0;}
#top-shares .top-shared-cont{ }
#top-shares .top-shared-cont .shares{font-weight: bold; font-size: 1.2rem; text-transform: uppercase;}
#top-shares .top-shared-cont img{width: 11%; border-radius: 10rem; max-width: 2.5rem; margin-top: -7px; margin-right: 0.2rem;}
#top-shares .top-shared-cont a{ font-weight: bolder; }
#top-shares .top-shared-cont .article-link{}
#top-shares .top-shared-cont .article-link a{text-transform: capitalize; font-size:1.2rem; color: #777; }
#top-shares  ol li:last-child  {border-bottom: none !important; }

.top-shared-articles p{ margin:0 !important;}
.top-shared-articles table{ border:none; }
.top-shared-articles .index-article{ font-size: 1.3rem; color: #777; top: 0.4rem; position: relative;}
.top-shared-articles table thead{background: #fff;}
.top-shared-articles table thead td{ font-size: 1.2rem;}
.top-shared-articles table tbody tr{background: #F0F9F8;}
.top-shared-articles table tbody tr:nth-child(even){background: #fff !important;}
.top-shared-articles table tbody tr td{ padding: 0.5rem 1.2rem; padding-left: 0.5rem !important;}


.earnings-section .last-month-earnings, .earnings-section .total-earnings{ margin: 1.5rem 0; }
.earnings-section h3{ text-transform: uppercase; font-size: 1.2rem; color:#777; min-width: 17rem;}
.earnings-section .earnings-value{ font-size: 3rem; font-family: OsloBold; color: #555; }

.most-shared-writers{ min-width: 17rem;}
.most-shared-writers .rank-writers ul {margin-left: 0 !important;}
.most-shared-writers .rank-writers ul li{list-style: none; background: #F0F9F8; padding: 0.4rem;}
.most-shared-writers .rank-writers ul li:nth-child(even){background:#fff !important;}
.most-shared-writers .rank-writers ul li p{ margin:0; display:inline;}
.most-shared-writers .writer-name span{ margin-right: 0.5rem;}
.most-shared-writers .rank-writers ul li.your-rank { background: #D2EBE7 !important; }
.most-shared-writers .your-rank p{ font-family: OsloBold; }


.contact-red-box{ background: rgba(172, 64, 64, 1);}
.contact-red-box ul{ margin-left: 0 !important; padding: 0.5rem;}
.contact-red-box ul li{list-style:none; display: inline-block; padding-right: 0.5rem;}
.contact-red-box ul li a{ color: #fff; text-transform: uppercase; font-size: 1.3rem; }

.month-container {width: 95%;}
.month-container select{ background-color: #D5D1D0; color: #000; background-position: 110%;}


/*BILLING INFORMATION PAGE*/
.skip-step{ /*margin-top: 2rem;*/}
.skip-step .a-buttons{ margin-left: 0; font-size: 1.1rem; padding: 0.3rem 0.4rem;}
.billing-cont h2, .paypal-info h2{ color: #01b88a;}
.billing-cont .billing-form-box, .image-profile-box{display: inline-block; background: #eee; padding: 1.5rem; }
.b-upload{ background: #fff;}
.and{font-size: 1.5rem; padding: 0 1rem; color: #777;}
.image-wrapper{ padding-left:1.8rem; display: inline-flex; padding-top: 1rem;}
.instructions{ margin-top: 1rem;}
.instructions ul, .billing-cont .billing-form-box .instructions label{ font-size:0.8rem; margin-bottom: 0;}
.paypal-info, .billing-cont{ margin-top:3%;}


/*LOGIN*/
.background-blue{background-color: #4CBFEB;}
.admin-logout-content h1{ font-size: 3.5rem; color: #fff; text-align: center; font-family: OsloBold; margin-bottom: 1.5rem;}
.admin-form-cont form input{margin: 0; text-transform: lowercase; box-shadow: none; }
.admin-logout-content .admin-form-cont form input{border:none; border-bottom:1px solid #ddd;}
.admin-logout-content .admin-form-cont .checkbox-label{ background:#fff; padding:0.5rem; font-size:0.7rem; }
.admin-logout-content .admin-form-cont .checkbox-label a{ color: #222; border-bottom:1px solid #999;}
.admin-form-cont form  .a-gray-link {padding: 0.7rem 2.5rem; background: #aaa; font-size: 1.2rem; text-transform: UPPERCASE;  color: #fff;}
.a-green-link{ background:#01b88a;}
.admin-form-cont form  button#submit{font-size: 1.2rem; text-transform: uppercase; padding: 0.6rem 2rem; margin-bottom: 0; background: #01b88a !important;}

/*FACEBOOK LOGIN  REGISTER*/
.facebook-txt > p{ color: #777; font-size:0.9rem; text-align:center; margin-bottom: 0.5rem; line-height: 1.5}
#fb-login{ cursor:pointer;}

#bottom-link{ text-align: center; font-size: 1.2rem;}
#bottom-link a{color: #fff;}
.margin-top{ margin-top: 0.95rem !important;}
.announcement-text{ color: #fff !important; text-align:center; width:80%; margin: 0 auto; margin-top:-0.5rem; margin-bottom: 0.5rem;}

.error{ background: #EEDFDF; padding: 0.5rem; color: #AA5551 !important; border: 1px solid #AA5551; margin: 0.5rem 0;}
.new-success { background: #E3EDD9; padding: 0.5rem; color: #759459 !important;  border: 1px solid #759459; margin: 0.5rem 0;}

.success-msg .a-green-link{padding: 0.7rem 2.5rem; background: #01b88a; font-size: 1.2rem; text-transform: UPPERCASE;  color: #fff;}
.success-msg .success{ padding:2rem; background:#fff;}
#result.error, #result.new-success{ margin: 0; text-align: left;}
.white-box{ background:#fff; padding:2rem;}
.white-box a{ color: #222 !important; border-bottom: 1px solid #aaa;}
@media #{$large-up} {
	.admin-form-cont form  .a-gray-link {padding: 0.7rem 3rem; background: #aaa; font-size: 1.2rem; text-transform: UPPERCASE;  color: #fff;}
	.admin-form-cont form  button#submit{font-size: 1.2rem; text-transform: uppercase; padding: 0.6rem 2.5rem; }

}


/*input{text-transform: inherit !important; }*/

::-webkit-input-placeholder {
  text-transform: uppercase;
   color: #747371;
}

:-moz-placeholder { /* Firefox 18- */
    text-transform: uppercase; 
    color: #747371;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-transform: uppercase;
     color: #747371;
}

:-ms-input-placeholder {  
    text-transform: uppercase; 
     color: #747371;
}

#register-form{
::-webkit-input-placeholder {
  text-transform: lowercase;
   color: #999;
}

:-moz-placeholder { /* Firefox 18- */
    text-transform: lowercase; 
    color: #999;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-transform: lowercase;
     color: #999;
}

:-ms-input-placeholder {  
    text-transform: lowercase; 
     color: #999;
}
}
/*ACCOUNT PAGE*/
#profile-inline-settings section h2{ color:#01b88a; }
#profile-inline-settings section div label{ font-size: 1rem; font-family:OsloBold, Oslo, arial; }
.avatar-span img {max-width: 1.9rem; cursor: pointer;}
.image-profile-box{padding:1.2rem 0.8rem 0.8rem 0.8rem;}
.select-avatar, .upload-photo { display:inline-block; text-align:center; }
.photo-instructions ul li{ font-size: 0.8rem;}
.photo-instructions label{ font-size:0.8rem !important;}
#profile-inline-settings  .and{font-size:2rem;}
#profile-inline-settings .image-wrapper{ padding-top: 0;}
.div-images, .div-file-upload{max-width: 14rem;}
#img-profile{max-width:7rem;}


//REGISTER PAGE
#register-form-cont{ background: #fff; padding:1rem;}
.input-wrapper{border:1px solid #ddd; margin-bottom:0.5rem;}
.message-registration span{ text-transform: uppercase; text-align: right; float: right; width: 60%; line-height: 1; font-family: OsloBold; }
.large-registration-text{ font-size: 4rem;  }
.medium-registration-text{ font-size: 1.7rem;}
.small-registration-text{ font-size:0.8rem;}
.light-blue{ color: #C8ECFC !important; }
.message-registration ul{ margin:0 !important; width: 88% !important;}
.message-registration ul li{ color: #C8ECFC !important; font-size: 1rem !important;}
.earning-money-txt{ margin-top:2rem; width: 100% !important;}
.reg-arrow{ width: 64%; float: right; margin-top: -18px; margin-right: -30px; }
.h1-smaller{ font-size: 2rem !important;}
#register-cont h1{ position:absolute;}
#register-form  input{ /*padding-top: 1.2rem !important; padding-bottom: 1.2rem !important;*/}
.login-link{ color: #fff !important; margin-top: 0.5rem; text-align:center;}
.login-link a{ color: #fff; margin-left: 0.5rem;}

.or{ color: #999; text-align:center; font-size:1.3rem;}
.earnings-info{margin-top: 2rem; float:left; margin-bottom: 1.5rem;}
.earnings-info div {display: inline-block;}
.earnings-info h3{ font-size:1.2rem; text-transform: uppercase; color:#444;}
.earnings-info .earnings-value{font-size: 3.3rem; font-family: OsloBold; color: #555; }
.earnings-info .last-month-earnings{border-left: 1px solid #555; border-right: 1px solid #555; margin: 0 1rem; padding: 0 1rem;}

.dropzone .dz-preview .dz-error-message, .dropzone-previews .dz-preview .dz-error-message{top: 40% !important; left: 20% !important; font-size: 1.5rem;}

.small-styled-select select {
   width: 267px;
   -webkit-appearance: none !important;
   margin:0 !important;
   padding:0.3rem !important; height:auto !important;
}

.small-styled-select {
  overflow: hidden !important;
  width: 30% !important;
  min-width: 13.5rem;
}
.xsmall-styled-select{ min-width:10rem !important;}
.xsmall-styled-select select{width:200px !important;}

//DASHBOAD SELECT STYLING PAGE
.month-container.small-styled-select{ width:96% !important;}
.month-container.small-styled-select select{width:457px; background-position:100% 60%; background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+"); background-size:6rem;}

//How it works page

#how-it-words #main-cont{ margin:5% auto;}
.how-it-words-box{background: #fff; padding: 1rem;}
.how-it-words-box h1{font-family: OswaldRegular; line-height: 1.4; text-align: center;}
.how-it-words-box p{font-size:1.2rem;}
.how-it-words-box div img{margin: 1.5rem 0; width:100%;}
.how-it-words-box ul{ clear:both; margin-left:3rem; line-height: 1.6; font-size:1.2rem;}

.b-disable{ color: #aaa !important;}

#adv-contact-form label{width:4.3rem; min-width:4rem; float:left; padding-top: 0.3rem;}
#adv-contact-form input{width: 90% !important;}
.message-label{ width:100% !important; float:none !important;}
@import "admin/browser_specifics_styling";


