

.modalDialog,
.modalDialogFindOut, 
.modalDialogLib, 
.modalDialogDeleteAccount,
.modalDialogpPreviewArticle {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.6);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	padding:  1rem;
}
.modalDialogpPreviewArticle {
	overflow: scroll;
}

.show-modal-box .modalDialog, 
.show-modal-box-find-out .modalDialogFindOut,
.show-modal-box-lib .modalDialogLib,
.show-modal-delete-box .modalDialogDeleteAccount,
.show-modal-box-prev-art .modalDialogpPreviewArticle {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div, 
.modalDialogLib > div,
.modalDialogFindOut > div,
.modalDialogDeleteAccount > div{
	position: relative;
	margin: 20% auto;
	width: 95%;
	
	img{
		-webkit-box-shadow: 10px 9px 8px -6px #222;
		-moz-box-shadow: 10px 9px 8px -6px #222;
		box-shadow: 10px 9px 8px -6px #222;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;
	}
}

.modalDialogpPreviewArticle > div{
	position: relative;
	margin: 20% auto;
	width: 95%;
}
.close {
	background: none;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
	width: 25px;
	height:25px;
	text-decoration: none;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	border:2px solid #fff;
	font: 80% Oslo, arial;
	padding: 0.23rem;
}

.close:hover { color: #000; border:2px solid #000;}

#super-banner{
	padding: 0 !important;
	background: #f5811f;
	border-bottom: 1px solid #222;
}

@media #{$large-up} { 
	.modalDialog > div, 
	.modalDialogLib > div,
	.modalDialogFindOut > div,
	.modalDialogDeleteAccount > div,
	.modalDialogpPreviewArticle > div { width: 35%; max-width: 50rem; margin: 6% auto; }
}

@media #{$medium-up} { 
	.close{ right: 1%; top: 1%; width: 35px; height:35px; font: 150% Oslo, arial;}
}

@media #{$mobile-only}{
	.modalDialog > div img, 
	.modalDialogLib > div img,
	.modalDialogFindOut > div img,
	.modalDialogDeleteAccount  > div img{ width: 100%; max-width:320px;}
	#popup-content{ max-width:320px; min-width:320px;}
}


/*ARTICLE IMAGES*/
#header-images{ background:#000 !important; color: #fff; text-transform:uppercase; padding: 0.5rem 1rem !important; font-family: OsloBold; font-size: 1.2rem; text-align: center;} 
#article-preset-img{
	overflow-x: scroll;
	max-height: 630px;
	 border-radius: 0px !important; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important;

	
	.div-images-holder{ border-radius: 0px !important; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; padding: 0.2rem !important; max-width: 17rem !important; display: inline-block;}
	.article-img-preset{ box-shadow: none !important; -webkit-box-shadow: none !important; -moz-box-shadow:none !important; border-radius: 0px; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important;}
}
.buttons-container-preset-art-img{ text-align: right;  border-radius: 0px !important; -webkit-border-radius: 0px !important; -moz-border-radius: 0px !important; background: #fff; padding:0.5rem !important;}
.highlight-img{
	border:3px solid #1fa512;
}


/*FOLLOW READER*/
.login-register-content{ 
	width: 46% !important; max-width: 41rem !important;

	.modal-input{
		z-index: 99998 !important;
		
	}
	.close{
		right: -5.5rem;
		top: -0.5rem;
		background: #000;
		width: 28px;
		height: 28px;
		position: absolute;
		font: 100% OsloBold,arial;
		z-index: 99999;
	}
	.close:hover {background:#fff; color: #000; border:2px solid #000;}
}
#register-box{
	display:none;
}

#register-box, #login-box{
	background: #eee;
	header{
		background: #fff;
		color: #000;
		font-size: 2rem;
		text-align: CENTER;
		padding-top: 1rem;
		padding-bottom: 0.8rem;

		span{font-family:OsloBold; }
	}
	section h1{
		text-align: center;
		text-transform: uppercase;
		color: #007900;
		font-size: 1.3rem;
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

	section p{
		text-transform: uppercase;
		text-align: CENTER;
		font-size: 12px;
	}

	section div{ width: 100%; padding:0 1rem;}
	#left-content, #right-content{
		width:48%;

		h3{
			text-transform: uppercase;
			font-size: 0.8rem;
			font-family: OsloBold;
			text-align: center;
			margin-bottom: 0;
		}
		form{
			text-align: center;
			input{ background: transparent; width:100%; padding:0; margin:0; min-height:1rem; border: none; box-shadow: none; border-bottom: 1px solid #aaa; font-family: OsloBold; font-size:1rem; text-align:Center; line-height: 3;} 
			button{
				color: #fff;
				background: #CCC62A !important;
				width: 100%;
				padding: 0.3rem  !important;
				font-size: 1rem !important;
				font-family: Oslobold;
				text-transform: uppercase !important;
				margin-top: 0.5rem;
				min-height:1rem !important;
			}
		}

		::-webkit-input-placeholder {
		  text-transform: uppercase;
		   color: #bbb;
		   font-size:1rem;
		}

		:-moz-placeholder { /* Firefox 18- */
		    text-transform: uppercase; 
		    color: #bbb;
		     font-size:1rem;
		}

		::-moz-placeholder {  /* Firefox 19+ */
		    text-transform: uppercase;
		     color: #bbb;
		     font-size:1rem;
		}

		:-ms-input-placeholder {  
		    text-transform: uppercase; 
		     color: #bbb;
		      font-size:1rem;
		}


	}

	#right-content{
		width: 43%;
		padding: 0 1rem 0 0 ;
		p{
			color: #007900;
			font-size: 1.1rem;
			line-height: 1.2;
			margin-bottom:0;
		}
		a{ 
			width: 100%;
			color: #007900;
		}
		.fb-login-button{
			padding: 0;
			margin: 1.5rem 0;


			img{
			 border-radius:0 !important; 
			 box-shadow:none;
			 cursor: pointer;
			}
		}
	}

	.or{
		width: 1rem;
		border-left: 1px solid #aaa;
		min-height: 9.4rem;
		margin: 0 1rem;
		padding: 0;

		span{
			background: #eee;
			padding: 0.6rem 0;
			margin-left: -0.8rem;
			line-height: 9rem;
		}
	}
}


