#prev-next-articles{
	margin: $panel-padding  0;

}

.direction {
	p{
		position: absolute;
		display:inherit;
		color: $link-accent-color !important;
		text-transform: uppercase;
		margin:0;
		font-size: 0.9rem;
	}
	i{
		color: $link-accent-color !important;
		margin-top: -0.35rem;
	}
}

.small-title{
	font-size: 0.8rem;
	line-height: 1.2;
	
	
	a{
		color: #333333;
	}
}

#prev-article, #next-article{
	padding: 0.4rem 0;
	margin: 0.4rem 0;
	margin-bottom: 0.25rem;
}

#prev-article{
	border-right: 1px solid #ddd;
}

.text-content{
	padding:0;
}

.center-small-title{
	display: table-cell;
	height: 97px;
	vertical-align: bottom;
}

.next p{
	right: 0;
	margin-right: 2rem;
}

.add-border{
	border: 1px solid #ddd;
}

.right-border{
	border-right: 1px solid #ddd;
}
.remove-border{
	border: none;
}


