//Overwritable Colors
$bgColor: #ffffff;
$catBg: darken(#36D8FF, 20%);

@import "_normalize.scss";
@import "_fontface.scss";
@import "_helpers.scss";
@import "compass/css3";

#ninja{color:#000;visibility:hidden;}
body,
html{
	background: $bgColor;
	margin: 0;
	padding: 0;
}

html{
	font-family: 'playerbp0';
}

body{
	font-family: arial, sans-serif;
}

/* Begin Cross Browser Styling */
@import "_testsuite.scss";
/* End Cross Browser Styling */