/* Begin Print Styling */
@media print {
  /* line 3, ../scss/print.scss */
  body:after {
    content: ''; }

  /* line 7, ../scss/print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
    page-break-after: avoid !important; }

  /* Black prints faster: h5bp.com/s */
  /* line 8, ../scss/print.scss */
  a, a:visited {
    text-decoration: underline; }

  /* line 9, ../scss/print.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 10, ../scss/print.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* line 11, ../scss/print.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* line 12, ../scss/print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /* line 13, ../scss/print.scss */
  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  /* line 14, ../scss/print.scss */
  tr, img {
    page-break-inside: avoid; }

  /* line 15, ../scss/print.scss */
  img {
    max-width: 100% !important; }

  @page {
    size: auto;
    /* auto is the initial value */
    margin: 0.5cm; }

  /* line 20, ../scss/print.scss */
  p, h2, h3 {
    orphans: 5;
    widows: 5; }

  /* line 21, ../scss/print.scss */
  h2, h3 {
    page-break-after: avoid; }

  /* line 22, ../scss/print.scss */
  br {
    display: none; }

  /* line 23, ../scss/print.scss */
  hr {
    display: none; }

  /* line 24, ../scss/print.scss */
  #main-article-cont {
    display: block !important; }
    /* line 27, ../scss/print.scss */
    #main-article-cont h2 {
      width: 50% !important;
      text-align: left;
      font-size: 1.3em; }
    /* line 33, ../scss/print.scss */
    #main-article-cont #link-to-article-print-only {
      display: inherit; }
    /* line 37, ../scss/print.scss */
    #main-article-cont #simpledish-logo-printer-only {
      display: inherit; }
      /* line 39, ../scss/print.scss */
      #main-article-cont #simpledish-logo-printer-only img {
        width: 20%;
        float: right; }
    /* line 42, ../scss/print.scss */
    #main-article-cont #image-description {
      display: block; }
      /* line 45, ../scss/print.scss */
      #main-article-cont #image-description #article-image {
        width: 50% !important;
        display: none !important; }
      /* line 51, ../scss/print.scss */
      #main-article-cont #image-description .right #social-buttons {
        display: none !important; }
      /* line 52, ../scss/print.scss */
      #main-article-cont #image-description .right #article-rating {
        display: none !important; }
      /* line 53, ../scss/print.scss */
      #main-article-cont #image-description .right #shared-icons-ss {
        display: none !important; }
      /* line 54, ../scss/print.scss */
      #main-article-cont #image-description .right .article-description {
        text-align: left;
        display: block !important;
        padding: 0;
        margin: 0; }
    /* line 58, ../scss/print.scss */
    #main-article-cont #article-body {
      display: block !important; }
    /* line 63, ../scss/print.scss */
    #main-article-cont #print-div-image {
      display: block !important;
      float: right;
      width: 100% !important;
      padding: 0 !important;
      margin: 0 !important; }
      /* line 70, ../scss/print.scss */
      #main-article-cont #print-div-image #logo_print {
        display: block !important;
        float: right;
        margin-top: -2em;
        width: 15%; }
    /* line 78, ../scss/print.scss */
    #main-article-cont #shared-icons {
      display: none; }

  /* line 85, ../scss/print.scss */
  #article-rating, #social-buttons, #fb-comments, #related-articles, .right-content, #bottom-cont,
  #categories-cont, #header-partner-sites, #category-page-heading, #search-cont, #copyright, #shared-icons, #about-the-author,
  .banner-content, #favorites-cat-dishes, #article-email, #article-ziplist, #article-print, .count {
    display: none !important; }

  /* line 89, ../scss/print.scss */
  script {
    display: none; }

  /* line 93, ../scss/print.scss */
  #header-cont {
    border-bottom: none !important; }
    /* line 98, ../scss/print.scss */
    #header-cont header #menu-icon {
      display: none !important;
      padding: 0 !important;
      margin: 0 !important; }
    /* line 104, ../scss/print.scss */
    #header-cont header #logo {
      float: right !important;
      display: none !important;
      padding: 0 !important;
      margin: 0 !important; }
    /* line 110, ../scss/print.scss */
    #header-cont header #search-text {
      display: none !important; }
    /* line 113, ../scss/print.scss */
    #header-cont header #category-text {
      display: none !important; }

  /* line 119, ../scss/print.scss */
  #footer-cont {
    background: none !important; }
    /* line 122, ../scss/print.scss */
    #footer-cont footer .footer-list {
      display: none !important;
      padding: 0 !important;
      margin: 0 !important; }
    /* line 128, ../scss/print.scss */
    #footer-cont footer #logo {
      width: 100% !important; }
      /* line 130, ../scss/print.scss */
      #footer-cont footer #logo a {
        display: none !important; }
        /* line 132, ../scss/print.scss */
        #footer-cont footer #logo a img {
          display: none !important; } }
/* End Print Styling */
